{% extends 'base.html.twig' %}

{% block title %}
    Reset Password | YilinkerOnline.com
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login">
       <div class="merchant-cover-photo-wrapper">
             <img src="{{ asset('images/merchant-cover-default.jpg') }}" id="default-merchant-cover" class="img-responsive" alt="">
             <img src="{{ asset('defaults/merchant-default-cover.jpg', 'user') }}" id="verified-merchant-cover" class=" img-responsive" alt="" style="position:absolute; top: 100%;">
             <div class="login-taglines align-center">
                 <a href="#">
                     <img src="{{ asset('images/logo-icon-inverted.png') }}" alt="">
                 </a>
                 <div>All in one place</div>
             </div>
        </div>

        <div class="login-wrapper login-merchant">
            <div class="login-tab-selection">
                <a id="sign-in-tab" data-href="reset-password" class="active single">Reset Password</a>
            </div>
            <div class="form-segment">
                {{ include('YilinkerCoreBundle:Default:translation.html.twig') }}
                 <div class="login-tab-panel active" id="reset-password">
                    <div>
                        <div class="form">
                            <input type="password" class="form-ui" placeholder="New Password"/>
                        </div>
                        <div class="form">
                            <input type="password" class="form-ui" placeholder="Confirm new password"/>
                        </div>
                        <div class="form">
                            <button class="button purple block">
                                Reset Password
                            </button>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="footer-wrapper align-center">
                Copyright 2015 YiLinker. All Rights Reserved
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/src/login-merchant.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/src/vendor/forms.js') }}"></script>

{% endblock %}
