{% set left = product.maxQuantity - product.productsSold %}
<div class="flash-item list">
    <div class="stocks">
        {% if left <= 0  %}
            <h5>Sold Out</h5>
        {% else %}
            <h5>{{ left }} Stocks left</h5>
        {% endif %}
    </div>
    <div class="img-container">
        <a target="_target"  href="{{ path('product_details', {'slug' : product.slug}) }}">
            <img src="{{ product.medium }}" alt="{{ product.name }}" class="img-auto-place">
        </a>
    </div>
    
    <div class="actions">
        <h5 class="name">
            <a target="_target" href="{{ path('product_details', {'slug' : product.slug}) }}">
                {{ product.name }}
            </a>
        </h5>
        <div class="price">
            <s class="light-color small-font">P {{ product.price }}</s> <b class="red-color large-font">P {{ product.discountedPrice }}</b>
        </div>
        {% if left <= 0  %}
            <h5>Sold Out</h5>
        {% else %}
            <button class="button purple block uppercase" data-buynow='{"productId":"{{ product.productId }}","unitId":"{{ product.productUnitId }}"}'>
                Buy Now
            </button>
        {% endif %}

    </div>
</div>