{%
    set addtocart = {
        'productId': product.productId,
        'unitId':    product.productUnitId
    }
%}

<div class="col-xs-12 col-for-product-group">
    <div class="product-item-wrapper featured-item-wrapper">
        <a href="{{ path('product_details', {'slug': product.slug}) }}">
            <div class="image-featured-wrapper">
                {% if product.discountedPercentage > 0 %}
                    <span class="discount pin">{{ product.promoTypeId == 2 ? "UP TO":"" }} {{ product.discountedPercentage }}% {% trans %} off {% endtrans %}</span>
                {% endif %}
                <img src="{{ cmsImage is defined ? asset(cmsImage, 'cms') : asset(product.image, 'product') }}" alt="{{ product.productName }}" title="{{ product.productName }}" class="img-full-width">
                {% if not product.quantity > 0 %}
                    <span class="out-of-stock pin">Sold Out</span>
                {% endif %}
            </div>
        </a>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td valign="middle">
                            <div class="meta-wrapper">
                                <div class="basic-name">
                                    <div class="row group">
                                        <div class="col-xs-12">
                                            <h1 class="name no-margin">
                                                <a href="{{ path('product_details', {'slug': product.slug}) }}">
                                                    {{ product.productName }}
                                                </a>
                                                {% if app.user %}
                                                    <span class="wishlist pull-right tooltip {{ product.inWishlist ? 'active': '' }}" data-href="{{ path('cart_add_item') }}?mode=wishlist" data-addtocart="{{ addtocart|json_encode }}" title="Add to wishlist">
                                                        <i class="icon-heart-o"></i>
                                                    </span>
                                                {% endif %}
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-amount">
                                    <div class="row group">
                                        <div class="col-md-7 col-xs-12 col-price-button-container align-center">
                                            <span class="old-price">
                                                {% if product.originalPrice != product.discountedPrice %}
                                                    P {{ product.originalPrice }}
                                                {% endif %}
                                            </span>

                                            {% if product.quantity %}
                                                <div class="product-cart-button-flip">
                                                    <div data-href="{{ path('cart_add_item') }}" data-addtocart="{{ addtocart|json_encode }}"  class="button purple block cart front">
                                                        <span class="current-price">
                                                            P {{ product.discountedPrice }}
                                                        </span>
                                                        <span class="cart text">{% trans %} Add to cart {% endtrans %}</span>
                                                    </div>
                                                    <div class="button gray block cart disabled back">
                                                        <span>
                                                            <i class="icon icon-check"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="button purple block cart disabled">
                                                    P {{ product.discountedPrice }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5 col-star-rating-container">
                                            {{ include('YilinkerCoreBundle:Default:star_rating.html.twig', {rating: product.productReviewRating}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "{{ product.productName }}",
    "image": "{{ cmsImage is defined ? asset(cmsImage, 'cms') : asset(product.image, 'product') }}",
    "offers": {
        "@type": "Offer",
        "price": "{{ product.discountedPrice }}",
        "category": "{{ product.productCategory }}"
    }
}
</script>