<!--<div class="app-banner-container" style='display:none;'>
    <div class="table-display">
        <div class="table-cell app">
            <a href="{{ android_app_url }}">
                <img src="{{ asset('images/mobile-app/android-app.png') }}" alt="YiLinker Android App" class="img-app-link"/>
            </a>
            <a href="{{ apkUrl }}">
                <img src="{{ asset('images/mobile-app/android-direct-download-app.png') }}" alt="YiLinker Android App" class="img-app-link"/>
            </a>
            <a href="{{ iosAppUrl }}">
                <img src="{{ asset('images/mobile-app/ios-app.png') }}" alt="YiLinker iOS App" class="img-app-link"/>
            </a>
        </div>
        <div class="table-cell text">
            {% trans %} Get Our App for FREE {% endtrans %}
        </div>
        <div class="table-cell close">
            <i class="icon icon-circle-times icon-2x light-color close-app-ad"></i>
        </div>
    </div>
</div>-->
