<!DOCTYPE HTML>
<html lang="en">

  <head>
      <meta charset="utf-8">
      
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="HandheldFriendly" content="True">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="description" content="Mountain - Responsive Coming Soon Page">
      <meta name="keywords" content="Mountain,  coming soon page, html5, responsive">
      <meta name="author" content="MountainTheme">
    
      <title>YiLinker - All you need in one place</title>
      
      <!-- ============ GOOGLE FONTS ============ -->
      <link href='{{ protocol }}://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900' rel='stylesheet' type='text/css'>
      <link href='{{ protocol }}://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
      <!-- CSS -->
      <!-- Animate css -->
      <link rel="stylesheet" type="text/css" href="/coming_soon/css/animate.css">
      <!-- Font Awesome CSS -->
      <link rel="stylesheet" href="/coming_soon/font-awesome/css/font-awesome.min.css" />
        <!-- Text Rotator CSS -->
      <link rel="stylesheet" href="/coming_soon/css/simpletextrotator.css" />
      <!-- Custom styles CSS -->
      <link rel="stylesheet" type="text/css" href="/coming_soon/css/style.css">
      
      {% include 'analytics/google-analytics.html.twig' %}
      {% include 'analytics/facebook-pixel.html.twig' %}
  </head>

  <body>
      {% include 'analytics/google-tag-manager.html.twig' %}

     <!-- BEGIN WELCOME -->
    <div class="welcome-section" id="top">
      <div class="title">
        <a class="scroll logo"><img src="/coming_soon/images/logo.png" alt="Mountain Logo" width="190" height="190"></a>
        <h1>Coming soon</h1>
        <p>All you need in one place.
        <br/>Your online shopping experience is about to change!</p>
           
         <!-- COUNTDOWN -->
         <div class="countdown"> </div>
         <!-- /COUNTDOWN -->
      </div>

      <!-- ARROW SCROLL-->
      <div class="arrow">
        <a  data-scroll class="scroll" href="#services-section"><i class="fa fa-chevron-down"></i></a>                
      </div>
      <!-- /ARROW SCROLL -->
      <div class="container">

       </div>
    </div>
    <!-- END WELCOME -->

     <!-- BEGIN SERVICES -->
     <div class="services-section" id="services-section">
      <div class="container">
        <div class="services-container">
          <div class="services-box" data-sr="wait 0.25s, then enter left and move 40px over 1s">
            <span><img alt="be a buyer" src="/coming_soon/images/item1.jpg"></span>
            <h3>Be a Buyer</h3>
            <p>Yilinker is committed to provide innovative, high-quality and unique products at competitive prices to consumers nationwide.</p>
            <p><a href="{{ path('home_page') }}">View our Site</a></p>
          </div>
          <div class="services-box-spacer"></div>
          <div class="services-box middle" data-sr="wait 0.5s, then enter top and move 40px over 1s">
            <span><img alt="be a buyer" src="/coming_soon/images/item2.jpg"></span>
            <h3>Be a Seller</h3>
            <p>Yilinker introduces a new and better way to sell products and aims to maximize marketplace giving Sellers more revenue potentials.</p>
            <p><a href="{{ merchant_hostname }}/register">Join Now</a></p>
          </div>
          <div class="services-box-spacer"></div>
          <div class="services-box"  data-sr="wait 0.25s, then enter right and move 40px over 1s">
            <span><img alt="be a buyer" src="/coming_soon/images/item3.jpg"></span>
            <h3>Be an Affiliate</h3>
            <p>Yilinker offers Affiliates cost-free, hassle-free and higher-revenue benefits compared to other business models.</p>
            <p><a href="{{ merchant_hostname }}/affiliate-program">Learn More</a></p>
          </div>
        </div>
       </div>
    </div>
    <!-- END SERVICES -->
    
    <!-- BEGIN EMAIL-SUBSCRIBE -->
    <div class="subscribe-section">
        <div class="container">
            <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s"><i class="fa fa-paper-plane"></i>
              <span>Stay tuned! You can subscribe to our newsletter to get<br/> a notification when we launch!</span>
            </h2>
            <div class="subscribe" data-sr="wait 0.5s, then enter bottom and move 40px over 1s">
                <form action="{{ path('subscribe_email') }}" name="email_newsletter" id="subscribe">
                    <input type="text" class="enteremail" name="email" id="subscribe-email" placeholder="Enter your email address here" spellcheck="false" />
                    <button type="submit" id="signup-button" class="signup-button">SUBSCRIBE</button>
                    <label for="subscribe-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
    </div>
    <!-- END EMAIL-SUBSCRIBE -->
    
    
    <!-- BEGIN CONTACT -->
    <div class="contact-section">
      <div class="container">

        <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s">Contact us</h2>
        <div class="contact-box-container">
          <div class="contact-box left" data-sr="wait 0.5s, then enter left and move 40px over 1s">
          Customer support is our priority and we understand that sometimes you need help. We provide friendly and helpful support for all your needs.
            <ul>
              <li><i class="fa fa-fw fa-map-marker"></i>6th Flr Five ECom Mall of Asia Pacific Drv.<br/>Pasay City, Metro Manila, Philippines</li>
              <li><i class="fa fa-fw fa-phone"></i>+63 977-7265481</li>
              <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">support@yilinker.ph</a></li>
            </ul>
          </div>
          <div class="contact-box-spacer"></div>
          <div class="contact-box right">
            <div id="note"></div>
            <div id="fields">
                <div style="display:none;" class="message-box-coming-soon"></div>
                {{ form_start(form, {method: 'POST', attr: {novalidate: 'novalidate', id: 'ajax-contact-form'}}) }}
                    {{ form_widget(form.email, {attr: {class: 'contact-form-input', placeholder: 'Email ', 'data-sr': 'enter right move 25px, after 0.3s'}}) }}
                    {{ form_widget(form.subject, {attr: {class: 'contact-form-input', placeholder: 'Subject', 'data-sr': 'enter right move 25px, after 0.3s'}}) }}
                    {{ form_widget(form.body, {id: 'commentsText', attr: {class: 'contact-form-input message-box', placeholder: 'Message', 'data-sr': 'enter bottom move 25px, after 0.3s'}}) }}
                    <input type="submit" name="submit" class="btn" id="contact-button" value="Send" data-sr="wait 0.8s, then enter top and move 40px after 0.3s"/>
                    <img style="display:none" id="img-loader" src="{{ asset('images/loader-light.gif') }}" alt="">
                {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTACT -->
    
    <!-- BEGIN FOOTER -->
    <div class="footer-section">
      <div class="container">
        <div class="footer-container">
          <a data-scroll  href="#top"  class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="footer-block"  data-sr="wait 0.5s, then enter left and move 40px over 1s">
            <!-- Social Icons -->
            <a href="https://twitter.com/YiLinkerPH" target="_blank" class="footer-social"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://www.facebook.com/YilinkerPH/" target="_blank" class="footer-social"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://instagram.com/yilinkerph/" target="_blank" class="footer-social"><i class="fa fa-fw fa-instagram"></i></a>
            <!-- End Social Icons -->
          </div>
          <div class="footer-spacer"></div>
          <div class="footer-block-middle"  data-sr="wait 0.5s, then enter top and move 40px over 1s">
          </div>
          <div class="footer-spacer"></div>
          <div class="footer-block"  data-sr="wait 0.5s, then enter right and move 40px over 1s">
           Copyright © 2015 <a href="{{ protocol }}://themeforest.net/user/MountainTheme?ref=MountainTheme" target="_blank">YiLinker Inc.</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->


    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="/coming_soon/js/jquery.js"></script>
    <!-- Backstretch -->
    <script src="/coming_soon/js/jquery.backstretch.min.js"></script>
    <!-- CountDown  -->
    <script src="/coming_soon/js/jquery.countdown.js"></script>
    <!-- Validate form -->
    <script src="/coming_soon/js/jquery.validate.js"></script>
    <!-- Scroll Reveal -->
    <script src="/coming_soon/js/scrollReveal.js"></script>
     <!-- Smooth Scroll -->
    <script src="/coming_soon/js/smooth-scroll.js"></script>
    <!-- Youtube Player -->
    <script src="/coming_soon/js/jquery.mb.YTPlayer.js"></script>
    <!-- Ajax chimp -->
    <script src="/coming_soon/js/jquery.ajaxchimp.js"></script>
    <!-- Custom -->
    <script src="/coming_soon/js/main.js"></script>
</body>
</html>
