<div class="title-bar">
    <span class="title-name">{% trans %} Featured Items {% endtrans %}</span>
    <a href="#" class="view-more">view more &rarr;</a>
</div>
<div class="product-card-list-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="product-card-slider-full">
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
                <div class="item">
                    {{ include('YilinkerFrontendBundle:Home:product_card_bordered.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>