<div class="title-bar">
    <span class="title-name">{% trans %} Top Sellers {% endtrans %}</span>
    <a href="#" class="view-more">view more &rarr;</a>
</div>
<div class="home-listing-container">
    <div class="seller-group">
        <div class="row row-for-seller-group">
            <div class="col-xs-5ths col-for-seller-group">
                <div class="seller-wrapper">
                    <table class="table-seller-name">
                        <thead>
                            <tr>
                                <td class="td-seller-img">
                                    <div class="img-seller-container">
                                        <a href="#"><img src="{{ asset('images/seller-img-1.jpg') }}" alt="Seller Name" title="Seller Name" /></a>
                                    </div>
                                </td>
                                <td class="td-seller-name">
                                    <span class="name">
                                        <a href="#">
                                            Asus Computer Shop
                                        </a>
                                    </span>
                                    <span class="specialty">{% trans %} Specialty: {% endtrans %} Computers</span>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="seller-product-group">
                        {% for i in 1 .. 6 %}
                        <div class="product-square">
                            <a href="#">
                                <img src="http://placehold.it/200x200/75348a/ffffff" alt="Product Name" title="Product Name" class="img-responsive" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5ths col-for-seller-group">
                <div class="seller-wrapper">
                    <table class="table-seller-name">
                        <thead>
                            <tr>
                                <td class="td-seller-img">
                                    <div class="img-seller-container">
                                        <a href="#"><img src="{{ asset('images/seller-img-2.jpg') }}" alt="Seller Name" title="Seller Name" /></a>
                                    </div>
                                </td>
                                <td class="td-seller-name">
                                    <span class="name">
                                        <a href="#">
                                            All Flat FitFlop
                                        </a>
                                    </span>
                                    <span class="specialty">{% trans %} Specialty: {% endtrans %} Sandals</span>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="seller-product-group">
                        {% for i in 1 .. 3 %}
                        <div class="product-square">
                            <a href="#">
                                <img src="http://placehold.it/200x200/2980b9/ffffff" alt="Product Name" title="Product Name" class="img-responsive" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5ths col-for-seller-group">
                <div class="seller-wrapper">
                    <table class="table-seller-name">
                        <thead>
                            <tr>
                                <td class="td-seller-img">
                                    <div class="img-seller-container">
                                        <a href="#"><img src="{{ asset('images/seller-img-3.jpg') }}" alt="Seller Name" title="Seller Name" /></a>
                                    </div>
                                </td>
                                <td class="td-seller-name">
                                    <span class="name">
                                        <a href="#">
                                            Forever 21
                                        </a>
                                    </span>
                                    <span class="specialty">{% trans %} Specialty: {% endtrans %} Women's Clothing</span>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="seller-product-group">
                        {% for i in 1 .. 2 %}
                        <div class="product-square">
                            <a href="#">
                                <img src="http://placehold.it/200x200/27ae60/ffffff" alt="Product Name" title="Product Name" class="img-responsive" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5ths col-for-seller-group">
                <div class="seller-wrapper">
                    <table class="table-seller-name">
                        <thead>
                            <tr>
                                <td class="td-seller-img">
                                    <div class="img-seller-container">
                                        <a href="#"><img src="{{ asset('images/seller-img-4.jpg') }}" alt="Seller Name" title="Seller Name" /></a>
                                    </div>
                                </td>
                                <td class="td-seller-name">
                                    <span class="name">
                                        <a href="#">
                                            Under Armour
                                        </a>
                                    </span>
                                    <span class="specialty">{% trans %} Specialty: {% endtrans %} Sport Apparel</span>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="seller-product-group">
                        {% for i in 1 .. 6 %}
                        <div class="product-square">
                            <a href="#">
                                <img src="http://placehold.it/200x200/16a085/ffffff" alt="Product Name" title="Product Name" class="img-responsive" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5ths col-for-seller-group">
                <div class="seller-wrapper">
                    <table class="table-seller-name">
                        <thead>
                            <tr>
                                <td class="td-seller-img">
                                    <div class="img-seller-container">
                                        <a href="#"><img src="{{ asset('images/seller-img-5.jpg') }}" alt="Seller Name" title="Seller Name" /></a>
                                    </div>
                                </td>
                                <td class="td-seller-name">
                                    <span class="name">
                                        <a href="#">
                                            Beats by Dr. Dre
                                        </a>
                                    </span>
                                    <span class="specialty">{% trans %} Specialty: {% endtrans %} Electronic Accessories</span>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="seller-product-group">
                        {% for i in 1 .. 6 %}
                        <div class="product-square">
                            <a href="#">
                                <img src="http://placehold.it/200x200/f1c40f/ffffff" alt="Product Name" title="Product Name" class="img-responsive" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>