<div class="title-bar">
    <div class="home-section">
        <div class="row">
            <div class="col-md-12">
                <span class="title-name">Featured Products</span>
            </div>
        </div>
    </div>
</div>
<div class="home-section">
    <div class="row featured-products-con-slider">
        <div class="row">
            <div class="col-ms-3 col-md-3 border-lt border-rt border-bt">
                <img src="{{ asset('images/featured-products/ad-left-banner.jpg') }}" alt="" class="img-full-width">
                <div class="feat-categories row">
                    <a href="">Mobile &amp; Tablets</a>
                    <a href="">Fashion Dress</a>
                    <a href="">Health &amp; Beauty</a>
                    <a href="">Watches, Jewelries</a>
                </div>
                <div class="feat-categories row">
                    <a href="">Mobile &amp; Tablets</a>
                    <a href="">Fashion Dress</a>
                    <a href="">Health &amp; Beauty</a>
                    <a href="">Watches, Jewelries</a>
                </div>
                <div class="feat-categories row" style="background:url({{ asset('images/featured-products/ad-left-bg.jpg') }}) bottom right no-repeat;">
                    <a href="">Mobile &amp; Tablets</a>
                    <a href="">Fashion Dress</a>
                    <a href="">Health &amp; Beauty</a>
                    <a href="">Watches, Jewelries</a>
                </div>
            </div>
            <div class="col-ms-9 col-md-9 border-bt">
                <div class="row border-bt">
                    <div class="col-ms-6 col-md-6 border-rt border-bt">
                        <div class="featured-products-inner-slider">
                            <a href="" class="item">
                                <img src="{{ asset('images/featured-products/ad-main.jpg') }}" alt="" class="img-full-width">
                            </a>
                            <a href="" class="item">
                                <img src="{{ asset('images/featured-products/ad-main.jpg') }}" alt="" class="img-full-width">
                            </a>
                        </div>
                    </div>
                    <div class="col-ms-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 border-bt border-rt">
                                <a href="">
                                    <img src="{{ asset('images/featured-products/ad-tp-1.jpg') }}" alt="" class="img-full-width">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6 border-bt border-rt">
                                <a href="">
                                    <img src="{{ asset('images/featured-products/ad-tp-2.jpg') }}" alt="" class="img-full-width">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6 border-rt">
                                <a href="">
                                    <img src="{{ asset('images/featured-products/ad-tp-3.jpg') }}" alt="" class="img-full-width">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6 border-rt">
                                <a href="">
                                    <img src="{{ asset('images/featured-products/ad-tp-4.jpg') }}" alt="" class="img-full-width">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 border-rt">
                        <a href="">
                            <img src="{{ asset('images/featured-products/ad-bt-1.jpg') }}" alt="" class="img-full-width">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4 border-rt">
                        <a href="">
                            <img src="{{ asset('images/featured-products/ad-bt-2.jpg') }}" alt="" class="img-full-width">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4 border-rt">
                        <a href="">
                            <img src="{{ asset('images/featured-products/ad-bt-3.jpg') }}" alt="" class="img-full-width">
                        </a>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
