<div class="title-bar mrg-top-40">
    <div class="row">
        <div class="col-md-12">
            <span class="title-name">
                Mid-Year All-Out Sale
            </span>
        </div>
    </div>
</div>
<div class="border featured-section">
    <div class="row no-gutter">
        <div class="col-md-4">
            <a href="https://www.yilinker.com/product-list/everything-at-99">
                <img src="{{ asset('images/featured-products/july-ft-img00.jpg') }}" alt="" class="lazy img-full-width">
            </a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <a href="https://www.yilinker.com/bestphilippineseller">
                        <img src="{{ asset('images/featured-products/july-ft-img01.jpg') }}"
                        alt="" class="lazy img-full-width">
                    </a>
                </div>
                <div class="col-md-4 right-side">
                    <a href="https://www.yilinker.com/item/holiday-fashion-luxury-brown-crystal-jewelry-set-for-women">
                        <img src="{{ asset('images/featured-products/july-ft-img02.jpg') }}" alt="" class="lazy img-full-width">
                    </a>
                    <a href="https://www.yilinker.com/item/summer-party-hallow-dress-6">
                        <img src="{{ asset('images/featured-products/july-ft-img03.jpg') }}" alt="" class="lazy img-full-width">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="https://www.yilinker.com/product-list/great-offers-at-199">
                       <img src="{{ asset('images/featured-products/july-ft-img04.jpg') }}" alt="" class="lazy img-full-width">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.yilinker.com/product-list/amazing-finds-at-299">
                        <img src="{{ asset('images/featured-products/july-ft-img05.jpg') }}" alt="" class="lazy img-full-width">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.yilinker.com/product-list/fabulous-deals-at-399">
                        <img src="{{ asset('images/featured-products/july-ft-img06.jpg') }}" alt="" class="lazy img-full-width">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
