<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>Yilinker - Download our APP for free</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Maven+Pro">
        <link rel="stylesheet" href="{{ asset('css/webview.css') }}" media="screen,print">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body>
        <div class="body-mobile align-center download-app">
            <a href="https://www.yilinker.com/">
                <img src="{{ asset('images/yiLinker-main-transparent.png') }}" alt="Yilinker">
            </a>
            <h1>Get Our App for FREE </h1>
            <div class="col-xs-12">
                <a href="{{ androidAppUrl }}">
                    <img src="{{ asset('images/mobile-app/android-app2.png') }}" alt="YiLinker Android App" class="download-app-btn">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="{{ iosAppUrl }}">
                    <img src="{{ asset('images/mobile-app/ios-app2.png') }}" alt="YiLinker iOS App" class="download-app-btn">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="{{ apkUrl }}">
                    <img src="{{ asset('images/mobile-app/android-direct-download-app2.png') }}" alt="YiLinker Android App" class="download-app-btn">
                </a>
            </div>
        </div>
    </body>
</html>
