{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
     Buy 2 Pairs, Get Refund
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="landing wrapper static-wrapper apple">
        <div class="block align-center header">
            <img src="{{ asset('images/promo/apple/apple.jpg') }}" alt="" class="img-full-width main-banner big-banner">
        </div>
        <div class="container pad-top-5em">
            <div class="align-center pad-bt-1em intro">
                    <p><i> It's time to walk your style with the comfiest and stylish shoes in town!</i></p>
                    <span><i> Buy 2 pairs and get a 50% refund when you share a selfie with your purchased item! </i></span>
                </div>
                <div class="row">
                        <div class="col-ms-1 col-md-1"></div>
                        <div class="col-xs-12 col-ms-8 col-md-8 mechanics">
                            <div class="content">
                                <p><strong> Promo Mechanics: </strong></p>
                                <ol>
                                    <li>Like YiLinker Philippines <a href="https://www.facebook.com/YilinkerPH/"><strong><em>Facebook page</em></strong></a>.</li>
                                    <li>Avail at least 2 pairs of shoes at <a href="https://www.yilinker.com/product-list/buy-2-pairs-get-refund"><strong><em>Buy 2 Pair, Get Refund Promo</em></strong></a>
                                    <li>Share a selfie together with a friend while wearing your purchased items (when already received) and use the hashtag <strong>#YLWalkYourStyle</strong> for us to track your post.</li>
                                    <li>Send us a personal message with your email address and transaction number for verification.</li>
                                    <li>We will send your gift voucher worth 50% OFF thru email.</li>
                                </ol>
                                <br>
                                <p><strong> Terms &amp; Conditions: </strong></p>
                                <ol>
                                    <li>The featured items are only available within the given period and until supplies last.</li>
                                    <li>A minimum purchase worth P1,000 is required to use the gift voucher.</li>
                                    <li>The voucher is only applicable to other items.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-ms-1 col-md-1"></div>
                    </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-running-shoes-22870">
                        <img src="{{ asset('images/promo/apple/product1.jpg') }}" alt="Fashion Women Shoes" class="max-width-1">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-running-shoes-22870">
                           Fashion women leisure sports running shoes
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fashion sneakers, Breathable lightweight, Cushioning effect, Soles wear, Effect of increased
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 899.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 2297.00</span>
                                <span class="inline-block mrg-left-5"><b>60% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-running-shoes-22870" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-classic-flat-shoes-22823">
                        <img src="{{ asset('images/promo/apple/product2.jpg') }}" class="max-width-1" alt="Fashion Women Classic Shoes">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-classic-flat-shoes-22823">
                            Fashion women leisure sports Classic flat Shoes
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fashion sneakers, Breathable, Cushioning effect
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 899.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 2064.00</span>
                                <span class="inline-block mrg-left-5"><b>56% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-classic-flat-shoes-22823" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/fashion-women-leisure-sports-classic-flat-shoes-22823">
                        <img src="{{ asset('images/promo/apple/product2.jpg') }}" class="max-width-1" alt="Fashion Women Classic Shoes">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/fashion-woman-sports-casual-skate-shoes-22884">
                        <img src="{{ asset('images/promo/apple/product3.jpg') }}" class="max-width-1" alt="Fashion Woman Skate Shoes">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/fashion-woman-sports-casual-skate-shoes-22884">
                            Fashion Woman Sports Casual Skate Shoes
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fashion sneakers, Breathable, Cushioning effect, Soles wear
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 799.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 2456.00</span>
                                <span class="inline-block mrg-left-5"><b>67% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/fashion-woman-sports-casual-skate-shoes-22884" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pad-bt-5em">
            <hr>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/fashion-men-leisure-sports-running-shoes-22858">
                        <img src="{{ asset('images/promo/apple/product4.jpg') }}" class="max-width-1" alt="Fashion Sport Shoes">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/fashion-men-leisure-sports-running-shoes-22858">
                            Fashion men leisure sports running shoes
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fashion sneakers, Breathable lightweight, Cushioning effect, Soles wear
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 799.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 2000.00</span>
                                <span class="inline-block mrg-left-5"><b>60% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/fashion-men-leisure-sports-running-shoes-22858" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/fashion-men-leisure-sports-running-shoes-22858">
                        <img src="{{ asset('images/promo/apple/product4.jpg') }}" class="max-width-1" alt="Fashion Sport Shoes">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/fashion-ladies-breathable-lightweight-sports-shoes-22618">
                        <img src="{{ asset('images/promo/apple/product5.jpg') }}" class="max-width-1" alt="Fashion Lightweight Sport Shoes">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/fashion-ladies-breathable-lightweight-sports-shoes-22618">
                            Fashion Ladies Breathable Lightweight Sports Shoes
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fashion sneakers, Breathable lightweight
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 899.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 2000.00</span>
                                <span class="inline-block mrg-left-5"><b>55% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/fashion-ladies-breathable-lightweight-sports-shoes-22618" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/new-high-quality-fashion-men-sandals-22889">
                        <img src="{{ asset('images/promo/apple/product6.jpg') }}" class="max-width-1" alt="Fashion Sandal">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/new-high-quality-fashion-men-sandals-22889">
                            New high quality fashion men sandals
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Breathable lightweight, Fashion casual
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount mrg-bt-20">
                            <span class="static-price2 ft-size-3">PhP 499.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 1799.00</span>
                                <span class="inline-block mrg-left-5"><b>72% OFF</b></span>
                            </span>
                        </div>
                        <br>
                        <a href="https://www.yilinker.com/item/new-high-quality-fashion-men-sandals-22889" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/new-high-quality-fashion-men-sandals-22889">
                        <img src="{{ asset('images/promo/apple/product6.jpg') }}" class="max-width-1" alt="Fashion Sandal">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
