{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Y Exclusives Desk Companion
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="desk-companion wrapper static-wrapper">
        <div class="block header align-center">
            <img src="{{ asset('images/promo/desk-companion/background-header2.jpg') }}" alt="Great Deals" class="img-full-width main-banner big-banner">
        </div>
        <div class="terms-container" style="background: #000c10 url({{ asset('images/promo/desk-companion/background-header3.jpg') }}) no-repeat top center;">
            <div class="container white-color align-center pad-top-3em pad-bt-3em clear width-70em">
                <h3>Terms and Conditions:</h3>
                <ul class="row terms-and-condition">
                    <li>
                       Free delivery for orders under Metro Manila.
                    </li>
                    <li>
                        Y! Exclusive product is valid only for the day of posting.
                    </li>
                    <li>
                        Discount and gift vouchers are not allowed to be used on Y! Exclusives transactions.
                    </li>
                    <li>
                        Product is available until supplies last. First come, first serve basis only.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container pad-top-5em">
            <div class="row static-product-items y-exclusives-wrapper">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/newbuy-3d-enlarge-screen-for-mobile-phones-black">
                        <img src="{{ asset('images/promo/desk-companion/image-1.jpg') }}" alt="Young Forever T-shirt">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/newbuy-3d-enlarge-screen-for-mobile-phones-black">
                            3D Mobile Screen Enlarger
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                            Get to enjoy and see the bigger picture while watching your favorite movies or
                            series on your mobile phone using this 3D screen enlarger!
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 120.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 300.00</span>
                                <span class="inline-block pd-left-10"><b>60% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/newbuy-3d-enlarge-screen-for-mobile-phones-black" class="static-button2 mrg-left-15">BUY NOW</a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row static-product-items y-exclusives-wrapper pad-bt-5em">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/ges-mzdd-2w5-led-dimmable-desk-lamp-cw">
                        <img src="{{ asset('images/promo/desk-companion/image-2.jpg') }}">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/ges-mzdd-2w5-led-dimmable-desk-lamp-cw">
                            GES LED Desk Lamp
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                        <i>
                            Work easily especially at night with this energy saving light!
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        Colors:
                        <img src="{{ asset('images/promo/desk-companion/image-2-1.jpg') }}" class="valign-middle">
                    </div>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 259.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 295.00</span>
                                <span class="inline-block pd-left-10"><b>12.2% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/ges-mzdd-2w5-led-dimmable-desk-lamp-cw" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>

                    </div>
                </div>
                <div class="col-md-6 align-center  hide-mobile">
                    <a href="https://www.yilinker.com/item/ges-mzdd-2w5-led-dimmable-desk-lamp-cw">
                        <img src="{{ asset('images/promo/desk-companion/image-2.jpg') }}">
                    </a>
                </div>
            </div>

            <hr>

            <div class="row static-product-items y-exclusives-wrapper pad-bt-5em">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/ges-mzdj-2w5-led-dimmable-clip-desk-lamp-cw">
                        <img src="{{ asset('images/promo/desk-companion/image-3.jpg') }}">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/ges-mzdj-2w5-led-dimmable-clip-desk-lamp-cw">
                            GES LED Clip Desk Lamp
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                        <i>
                            Light up your desk with this dimmable clip lamp!
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        Colors:
                        <img src="{{ asset('images/promo/desk-companion/image-2-1.jpg') }}" class="valign-middle">
                    </div>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 269.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 315.00</span>
                                <span class="inline-block pd-left-10"><b>14.6% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/ges-mzdj-2w5-led-dimmable-clip-desk-lamp-cw" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
