{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
     Pick your style and enjoy the sip
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="wrapper static-wrapper sip-and-enjoy">
        <div class="block align-center sip-and-enjoy-bg">
            <img src="{{ asset('images/promo/enjoy-the-sip/background-header.jpg') }}" alt="" class="img-full-width main-banner big-banner">
        </div>
        <div class="container pad-top-5em pad-bt-5em">
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/ceramic-mug-star-wars">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-1.jpg') }}" alt="Ceramic Mug (Star Wars)" class="max-width-1">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/ceramic-mug-star-wars">
                           Ceramic Mug (Star Wars)
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           The force is strong with this mug
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 499.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 600.00</span>
                                <span class="inline-block mrg-left-5"><b>16.83% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/ceramic-mug-star-wars" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/face-mug">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-2.jpg') }}" class="max-width-1" alt="Face Mug">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/face-mug">
                            Face Mug
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Best snack time partner ever.
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 299.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 400.00</span>
                                <span class="inline-block mrg-left-5"><b>25.25% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/face-mug" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/face-mug">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-2.jpg') }}" class="max-width-1" alt="Face Mug">
                    </a>
                </div>
            </div>

            <hr>

            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/inspire-retro-photo-coffee-mugs">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-3.jpg') }}"class="max-width-1" alt="Inspire Retro Photo Coffee Mugs">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/inspire-retro-photo-coffee-mugs">
                            Inspire Retro Photo Coffee Mugs
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Too cool for old school.
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 469.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 698.00</span>
                                <span class="inline-block mrg-left-5"><b>32.81% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/inspire-retro-photo-coffee-mugs" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>


            <hr>

            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/camera-lense-cup-nikon-mug-24-70mm">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-4.jpg') }}" class="max-width-1" alt="Camera Lens Nikon Mug">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/camera-lense-cup-nikon-mug-24-70mm">
                            Camera Lens Nikon Mug
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                            Brag your love for photography with this mug.
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 528.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 649.00</span>
                                <span class="inline-block mrg-left-5"><b>18.64% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/camera-lense-cup-nikon-mug-24-70mm" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/camera-lense-cup-nikon-mug-24-70mm">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-4.jpg') }}" class="max-width-1" alt="Camera Lens Nikon Mug">
                    </a>
                </div>
            </div>

            <hr>

            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/ceramic-mug-set-1">
                        <img src="{{ asset('images/promo/enjoy-the-sip/image-5.jpg') }}"class="max-width-1" alt="Ceramic Mug Set">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/ceramic-mug-set-1">
                            Ceramic Mug Set
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Fancy your tea. Pick ceramic.
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 275.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 550.00</span>
                                <span class="inline-block mrg-left-5"><b>50% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/ceramic-mug-set-1" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
