{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Freestyle yourself with Freego
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="freego wrapper static-wrapper">
        <div class="block header align-center">
            <img src="{{ asset('images/promo/freego/Freego-Landing-Page.jpg') }}" class="img-full-width main-banner" alt=" ">
        </div>
        <div class="mechanics content pad-top-3em pad-bt-3em">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 align-center">
                    <h3>Promo Mechanics:</h3>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li class="mrg-bt-10">
                               Like YiLinker Philippines Facebook page and sign up at <a href="https://www.yilinker.com/register"><u>www.yilinker.com/register</u></a>
                            </li>
                            <li class="mrg-bt-10">
                                Check out FREEGO products at <a href="https://www.yilinker.com/freego-freestyle"><u>www.yilinker.com/freego-freestyle</u></a>
                            </li>
                            <li>
                                Choose the product that you want to purchase.
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li class="mrg-bt-10">Use Voucher, "YLFREESTYLE" to get 10% off on your purchase</li>
                            <li>
                                Take a selfie with your purchased item and get a P250 voucher in return!
                                Don't forget to use hashtag #YLFREESTYLE and make your post public for us to see it!
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container content pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h3 class="title">
                        <img src="{{ asset('images/promo/freego/freego-note.gif') }}" alt="Dont let the rainy season limit your OOTD! Grab these hot picks from FREEGO and freestyle yourself with fashion that suits you. Remember not to limit yourself and be in the best OOTD">
                    </h3>
                </div>
            </div>
        </div>
        <div class="container align-center pad-bt-3em">
            <div class="row item-list">
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/bobson-dusty-pink">
                            <img src="{{ asset('images/promo/freego/image-1.jpg') }}" alt="Bobson Dusty Pink">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/bobson-dusty-pink">
                            Bobson Dusty Pink
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 499.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1120.00</span>
                        <span><b>55.45% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/bobson-dusty-pink" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/wrangler-blue-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-2.jpg') }}" alt="Wrangler Blue Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/wrangler-blue-polo-tee">
                            Wrangler Blue Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 860.00</b>
                    <span class="discount-wrapper white">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/wrangler-blue-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/bobson-high-rise-stripes-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-3.jpg') }}" alt="Bobson High Rise Stripes Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/bobson-high-rise-stripes-polo-tee">
                            Bobson High Rise Stripes Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 599.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1399.00</span>
                        <span><b>57.18% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/bobson-high-rise-stripes-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-barely-pink-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-4.jpg') }}" alt="Freego Longsleeve Yellow">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-barely-pink-polo-tee">
                            Freego Barely Pink Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 521.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-barely-pink-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
            </div>
            <div class="row item-list">
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-gray-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-5.jpg') }}" alt="Freego Gray Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-gray-polo-tee">
                            Freego Gray Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 561.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-gray-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-longsleeve-deep-lavender">
                            <img src="{{ asset('images/promo/freego/image-6.jpg') }}" alt="Freego Longsleeve Deep Lavender">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-longsleeve-deep-lavender">
                            Freego Longsleeve Deep Lavender
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 599.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1399.00</span>
                        <span><b>57.18% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-longsleeve-deep-lavender" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-blue-and-red-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-7.jpg') }}" alt="Freego Blue and Red Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-blue-and-red-polo-tee">
                            Freego Blue and Red Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 569.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-blue-and-red-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-longsleeve-yellow">
                            <img src="{{ asset('images/promo/freego/image-8.jpg') }}" alt="Freego Longsleeve Yellow">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-longsleeve-yellow">
                            Freego Longsleeve Yellow
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 599.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1399.00</span>
                        <span><b>57.18% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-longsleeve-yellow" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
            </div>
            <div class="row item-list">
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-sexy-black-tee">
                            <img src="{{ asset('images/promo/freego/image-9.jpg') }}" alt="Freego Sexy Black Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-sexy-black-tee">
                            Freego Sexy Black Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 489.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1120.00</span>
                        <span><b>56.34% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-sexy-black-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-stripes-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-10.jpg') }}" alt="Freego Stripes Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-stripes-polo-tee">
                            Freego Stripes Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 426.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-stripes-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-ultra-violet">
                            <img src="{{ asset('images/promo/freego/image-11.jpg') }}" alt="Freego Ultra Violet">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-ultra-violet">
                            Freego Ultra Violet
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 569.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1349.00</span>
                        <span><b>57.82% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-ultra-violet" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-3 col-md-3">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-spectra-bluegreen-polo-tee">
                            <img src="{{ asset('images/promo/freego/image-12.jpg') }}" alt="Freego Spectra Bluegreen Polo Tee">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-spectra-bluegreen-polo-tee">
                            Freego Spectra Bluegreen Polo Tee
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 521.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-spectra-bluegreen-polo-tee" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
            </div>
            <div class="row item-list">
                <div class="col-ms-1 col-md-1"></div>
                <div class="col-ms-2 col-md-2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-blue-depth-denim-shorts-for-men">
                            <img src="{{ asset('images/promo/freego/image-17.jpg') }}" class="img-full-width" alt="Freego Blue Depth Denim Shorts for Men">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-blue-depth-denim-shorts-for-men">
                            Freego Blue Depth Denim Shorts for Men
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 659.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-blue-depth-denim-shorts-for-men" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-2 col-md-2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-after-dark-denim-shorts-for-men">
                            <img src="{{ asset('images/promo/freego/image-18.jpg') }}" class="img-full-width" alt="Freego After Dark Denim Shorts for Men">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-after-dark-denim-shorts-for-men">
                            Freego After Dark Denim Shorts for Men
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 659.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-after-dark-denim-shorts-for-men" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-2 col-md-2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-checkered-shorts-for-men">
                            <img src="{{ asset('images/promo/freego/image-19.jpg') }}" class="img-full-width" alt="Freego Checkered Shorts for Men">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-checkered-shorts-for-men">
                            Freego Checkered Shorts for Men
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 929.00</b>
                    <span class="discount-wrapper">
                        <span>PhP 1500.00</span>
                        <span><b>38.07% OFF</b></span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-checkered-shorts-for-men" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-2 col-md-2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-brown-pants-for-men">
                            <img src="{{ asset('images/promo/freego/image-20.jpg') }}" class="img-full-width" alt="Freego Brown Pants for Men">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-brown-pants-for-men">
                            Freego Brown Pants for Men
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 929.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-brown-pants-for-men" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-2 col-md-2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/freego-regular-rise-jeggings">
                            <img src="{{ asset('images/promo/freego/image-21.jpg') }}" class="img-full-width" alt="Freego Regular Rise Jeggings">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/freego-regular-rise-jeggings">
                            Freego Regular Rise Jeggings
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block pad-top-1em">PhP 659.00</b>
                    <span class="discount-wrapper">
                        <span class="invis">&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </span><br>
                    <a href="https://www.yilinker.com/item/freego-regular-rise-jeggings" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="col-ms-1 col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}{% endblock %}
