{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Heddi Kate Fashion Collection
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="heddi landing wrapper static-wrapper">
        <div class="block align-center header">
            <img src="{{ asset('images/promo/heddi-kate/Heddi-Kate-Landing-Page2.jpg') }}" alt="Heddi Kate" class="img-full-width main-banner big-banner">
        </div>
        <div class="mechanics content pad-top-3em pad-bt-3em">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 align-center">
                    <h3>Terms and Conditions:</h3>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li class="mrg-bt-10">The featured items are only available within the given period<br>and until supplies last.</li>
                            <li>Vouchers are not applicable in this promo.</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li class="mrg-bt-10">This promo is valid for existing and newly registered users.</li>
                            <li>The sale will automatically end if all the items are<br>already sold out.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>

        <div class="container pad-top-5em pad-bt-5em">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 align-center">
                    <a href="https://www.yilinker.com/item/fashion-multi-purpose-texture-female-bag">
                        <img src="{{ asset('images/promo/heddi-kate/For-the-Fierce-Lady.jpg') }}" alt="For the Fierce Lady" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-5 static-product-content">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <h2 class="mrg-bt-5 mrg-bt-20">
                            <a href="https://www.yilinker.com/item/fashion-multi-purpose-texture-female-bag">
                                Fashion Multi-Purpose Texture Female Bag
                            </a>
                        </h2>

                        <div class="mrg-bt-20">
                            <div class="static-price-discount">
                                <span class="static-price2 ft-size-3">PhP 599.00</span>
                                <span class="discount-wrapper discount2">
                                    <span class="ft-size-1">Php 1,491.00</span>
                                    <span class="inline-block mrg-left-5"><b>59.83% OFF</b></span>
                                </span>
                            </div>
                        </div>
                        <a href="https://www.yilinker.com/item/fashion-multi-purpose-texture-female-bag" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 align-center">
                    <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-grey">
                        <img src="{{ asset('images/promo/heddi-kate/For-the-Classy-Lady.jpg') }}" alt="For the Classy Lady" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-5 static-product-content">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <h2 class="mrg-bt-5 mrg-bt-20">
                            <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-grey">
                                Concise and Easy Portable Female Bag (Grey)
                            </a>
                        </h2>

                        <div class="mrg-bt-20">
                            <div class="static-price-discount">
                                <span class="static-price2 ft-size-3">PhP 599.00</span>
                                <span class="discount-wrapper discount2">
                                    <span class="ft-size-1">Php 1,606.00</span>
                                    <span class="inline-block mrg-left-5"><b>62.70% OFF</b></span>
                                </span>
                            </div>
                        </div>
                        <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-grey" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 align-center">
                    <a href="https://www.yilinker.com/item/weaving-grain-mass-female-bag-grey">
                        <img src="{{ asset('images/promo/heddi-kate/For-the-Simple-Lady.jpg') }}" alt="For the Simple Lady" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-5 static-product-content">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <h2 class="mrg-bt-5 mrg-bt-20">
                            <a href="https://www.yilinker.com/item/big-wind-weaving-grain-female-bag-black">
                                Big Wind Weaving Grain Female Bag (Black)
                            </a>
                        </h2>

                        <div class="mrg-bt-20">
                            <div class="static-price-discount">
                                <span class="static-price2 ft-size-3">PhP 699.00</span>
                                <span class="discount-wrapper discount2">
                                    <span class="ft-size-1">Php 1,596.00</span>
                                    <span class="inline-block mrg-left-5"><b>56.2% OFF</b></span>
                                </span>
                            </div>
                        </div>
                        <a href="https://www.yilinker.com/item/big-wind-weaving-grain-female-bag-black" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 align-center">
                    <a href="https://www.yilinker.com/item/much-interlayer-practical-handbag-rose-red">
                        <img src="{{ asset('images/promo/heddi-kate/For-the-Sassy-Lady.jpg') }}" alt="For the Sassy Lady" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-5 static-product-content">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <h2 class="mrg-bt-5 mrg-bt-20">
                            <a href="https://www.yilinker.com/item/much-interlayer-practical-handbag-rose-red">
                                Much Interlayer Practical Handbag (Rose Red)
                            </a>
                        </h2>

                        <div class="mrg-bt-20">
                            <div class="static-price-discount">
                                <span class="static-price2 ft-size-3">PhP 499.00</span>
                                <span class="discount-wrapper discount2">
                                    <span class="ft-size-1">Php 2,025.00</span>
                                    <span class="inline-block mrg-left-5"><b>75.36% OFF</b></span>
                                </span>
                            </div>
                        </div>
                        <a href="https://www.yilinker.com/item/much-interlayer-practical-handbag-rose-red" class="static-button2">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="align-center">
                        <a href="https://www.yilinker.com/product-list/heddi-kate-fashion-collection" class="static-button">
                            SEE MORE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
