{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Labor Day Essentials
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="wrapper static-wrapper">
        <div class="block align-center">
                <img src="{{ asset('images/promo/labor-day-essentials/main-image.jpg') }}" alt="Midnight Sales" class="img-full-width main-banner">
            </div>
        <div class="bg-purple">
            <div class="container white-color align-center pad-top-5em pad-bt-5em clear width-70em">
                <h1>Your busy soul deserves a treat this Labor Day!</h1>
                <h3>
                    Keep calm and shop less for your essentials using your<br /> gift voucher worth P501! 
                </h3>
                <span class="voucher-container mrg-top-25">
                    Voucher Name: <b class="uppercase">YLaborDay</b>
                </span>
                <h4 class="mrg-top-15">
                    (P501, minimum purchase of P1,499)
                </h4>
            </div>
        </div>

        <div class="container pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center mrg-bt-30">
                    <h1> See featured products under "Labor Day" tab for this promo</h1>
                    
                </div>
            </div>
        </div>
        <div class="container align-center">
            <div class="product-container">
                <div class="product-price">
                    <div class="product-cell">
                        ONLY<br />
                        <span>
                            P<b>1,640</b>
                        </span>
                    </div>
                </div>
                <div class="product-image">
                    <a href="https://www.yilinker.com/item/bavin-led-pc218-18000mah-powerbank-white">
                        <img src="{{ asset('images/promo/labor-day-essentials/product-3.jpg') }}" alt="" class="img-full-width" alt="Bavin LED PC218 18000mAh Powerbank (White)">
                    </a>
                </div>
                <div class="product-name">
                    <a href="https://www.yilinker.com/item/bavin-led-pc218-18000mah-powerbank-white">
                        Bavin LED PC218 <br />18000mAh Powerbank (White)
                    </a>
                </div>
                <a href="https://www.yilinker.com/item/bavin-led-pc218-18000mah-powerbank-white" class="button purple">Buy Now</a>
            </div>
            <div class="product-container">
                <div class="product-price">
                    <div class="product-cell">
                        ONLY<br />
                        <span>
                            P<b>369</b>
                        </span>
                    </div>
                </div>
                <div class="product-image">
                    <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch">
                        <img src="{{ asset('images/promo/labor-day-essentials/product-4.jpg') }}" alt="" class="img-full-width" alt="Caite Classic White Analog Wrist Leather Watch">
                    </a>
                </div>
                <div class="product-name">
                    <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch">
                        Caite Classic White <br />Analog Wrist Leather Watch
                    </a>
                </div>
                <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch" class="button purple">Buy Now</a>
            </div>
        </div>
        <div class="container align-center product-sub-wrapper pad-top-5em">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>369</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/caite-classic-black-analog-wrist-leather-watch-unisex-8">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-5.jpg') }}" alt="" class="img-full-width" alt="Caite Classic Black Analog Wrist Leather Watch (Unisex)">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/caite-classic-black-analog-wrist-leather-watch-unisex-8">
                                Caite Classic <br />Black Analog Wrist Leather Watch (Unisex)
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/caite-classic-black-analog-wrist-leather-watch-unisex-8" class="button purple">Buy Now</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>1,099</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/uu-family-oxford-waterproof-travel-bag-medium-gray">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-6.jpg') }}" alt="" class="img-full-width" alt="UU Family Oxford Waterproof Travel Bag Medium Gray">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/uu-family-oxford-waterproof-travel-bag-medium-gray">
                                UU Family Oxford Waterproof Travel Bag Medium Gray
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/uu-family-oxford-waterproof-travel-bag-medium-gray" class="button purple">Buy Now</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>899</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="
                            https://www.yilinker.com/item/new-statement-resin-flower-necklace-women-gold-plated-luxury-brand-bib-chunky-flower-necklace">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-7.jpg') }}" class="img-full-width" alt="New Statement Resin Flower Necklace Women Gold Plated Luxury Brand Bib Chunky Flower Necklace">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="
                            https://www.yilinker.com/item/new-statement-resin-flower-necklace-women-gold-plated-luxury-brand-bib-chunky-flower-necklace">
                                New Statement<br> Resin Flower Necklace Women Gold Plated
                            </a>
                        </div>
                        <a href="
                            https://www.yilinker.com/item/new-statement-resin-flower-necklace-women-gold-plated-luxury-brand-bib-chunky-flower-necklace" class="button purple">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>2,426</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/genuine-leather-folio-case-with-stand-for-ipad-air-2-brown">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-8.jpg') }}" alt="Genuine Leather Folio Case with stand for iPad Air 2 (Brown)" class="img-full-width">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/genuine-leather-folio-case-with-stand-for-ipad-air-2-brown">
                                Genuine Leather <br />Folio Case with stand for iPad Air 2 (Brown)
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/genuine-leather-folio-case-with-stand-for-ipad-air-2-brown" class="button purple">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container align-center product-sub-wrapper pad-bt-5em">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>3,329</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/active-stylus-pen-2nd-generation-for-ipad-iphone-and-android-devices">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-9.jpg') }}" alt="" class="img-full-width" alt="Active Stylus Pen 2nd Generation for iPad iPhone and Android">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/active-stylus-pen-2nd-generation-for-ipad-iphone-and-android-devices">
                                Active Stylus Pen <br />2nd Generation for iPad iPhone and Android
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/active-stylus-pen-2nd-generation-for-ipad-iphone-and-android-devices" class="button purple">Buy Now</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>220</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/bavin-1m-usb-cable-5p-for-samsung-and-xperia-3">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-10.jpg') }}" alt="" class="img-full-width" alt="Bavin 1m USB Cable 5P for Samsung and Xperia">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/bavin-1m-usb-cable-5p-for-samsung-and-xperia-3">
                                Bavin 1m USB Cable <br />5P for Samsung and Xperia
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/bavin-1m-usb-cable-5p-for-samsung-and-xperia-3" class="button purple">Buy Now</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>1,175</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/junction-1-my012-bullet-9000mah-power-bank-black-1">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-11.jpg') }}" alt="" class="img-full-width" alt="Junction 1 MY012 Bullet 9000mAh Power Bank (Black)">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/junction-1-my012-bullet-9000mah-power-bank-black-1">
                                Junction 1 MY012 <br />Bullet 9000mAh Power Bank (Black)
                            </a>
                        </div>
                        <a href="
                       https://www.yilinker.com/item/junction-1-my012-bullet-9000mah-power-bank-black-1" class="button purple">Buy Now</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="product-container">
                        <div class="product-price">
                            <div class="product-cell">
                                ONLY<br />
                                <span>
                                    P<b>1,149</b>
                                </span>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="https://www.yilinker.com/item/folio-pu-leather-smart-case-with-kickstand-for-ipad-mini1-2">
                                <img src="{{ asset('images/promo/labor-day-essentials/product-12.jpg') }}" alt="Folio PU Leather Smart Case with Kickstand for iPad mini1/2" class="img-full-width">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="https://www.yilinker.com/item/folio-pu-leather-smart-case-with-kickstand-for-ipad-mini1-2">
                                Folio PU Leather <br />Smart Case with Kickstand for iPad mini1/2
                            </a>
                        </div>
                        <a href="https://www.yilinker.com/item/folio-pu-leather-smart-case-with-kickstand-for-ipad-mini1-2" class="button purple">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container align-center pad-bt-5em">
            <a href="https://www.yilinker.com/product-list/labor-day" class="button see-all-btn">
                SEE ALL OF THEM HERE
            </a>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
