{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    MBC Music Show Champion in Manila
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="kpop landing wrapper static-wrapper">
        <div class="block header align-center">
            <img src="{{ asset('images/promo/kpop/MBC-Landing-Page.jpg') }}" class="main-banner" alt=" ">
        </div>
        <div class="mechanics content pad-top-3em pad-bt-3em">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 align-center">
                    <h3>Promo Mechanics:</h3>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li>
                               Like <a href="https://www.yilinker.com/"><u>YiLinker Philippines</u></a> and <a href="https://www.facebook.com/YilinkerPH/"><u>All Access Production Facebook Page</u></a>
                            </li>
                            <li>
                               Use the referral code, '<strong>YLKPOP</strong>’ to qualify for the promo.
                            </li>
                            <li>
                                Share the post on your wall with the hashtags: <strong>#YiLinkerPH</strong> and make sure the post is public so that we can see it.
                            </li>
                            <li>
                                Lucky fans will get (1) one of: Two (2) SVIP Ticket to MBC Show Champion in Manila.
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="row">
                            <li class="mrg-bt-10">
                               Sign up at <a href="https://www.yilinker.com/register?referralCode=YLKPOP"><u>YiLinker</u></a> and complete your profile information.
                            </li>
                            <li>You can get raffle entries from the following:
                                <ol type="A">
                                    <li>Get one (1) raffle entry when you LIKE our page, REGISTER at YiLinker, and SHARE this post.</li>
                                    <li> Get three (3) raffle entries when you LIKE our page, REGISTER at YiLinker, SHARE this post, and BUY any item at YiLinker. <a href="https://www.yilinker.com/product-list/back-to-school">Check out our back to school promo items here</a>.</li>

                                </ol>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container content pad-top-5em pad-bt-3em">
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="item col-md-1"></div>
                    <div class="item col-md-5">
                        <a href="https://www.yilinker.com/item/young-forever-shirt-1">
                            <img src="{{ asset('images/promo/young-forever/image-1.jpg') }}" alt="Young Forever T-shirt">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/young-forever-shirt-1">
                                    Young Forever T-shirt
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               <i>
                                    Show off your casual style while looking great and feely comfy at <br>
                                    the same time with this Young Forever statement shirt.
                                </i>
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price ft-size-2">PhP 199.00</span>
                                </div>
                                <a href="https://www.yilinker.com/item/young-forever-shirt-1" class="static-button2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-5">
                        <a href="https://www.yilinker.com/item/kpop-shirts">
                            <img src="{{ asset('images/promo/kpop/dancer.jpg') }}" alt="Young Forever T-shirt">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/kpop-shirts">
                                    KPOP Shirts
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               <i>Show some love for KPOP <br>with your choice of labeled shirt!</i>
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price ft-size-2">PhP 199.00</span>
                                </div>
                                <a href="https://www.yilinker.com/item/kpop-shirts" class="static-button2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="bg-base">
            <div class="container pad-top-5em">
                <div class="align-center pad-bt-1em">
                    <h3 class="uppercase h-style1">items you may like</h3>
                    <p><i>Cool products up for grabs!</i></p>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/bobson-dusty-pink">
                                    Bobson Dusty Pink
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/bobson-dusty-pink">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-1.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 350.00</span>
                                <span class="discount">P 499.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/bobson-high-rise-stripes-polo-tee">
                                    Bobson High Rise Stripes Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/bobson-high-rise-stripes-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-2.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 599.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-longsleeve-deep-lavender">
                                    Freego Longsleeve Deep Lavender
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-longsleeve-deep-lavender">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-3.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 599.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-longsleeve-yellow">
                                    Freego Longsleeve Yellow
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-longsleeve-yellow">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-4.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 599.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-sexy-black-tee">
                                    Freego Sexy Black Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-sexy-black-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-5.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 350.00</span>
                                <span class="discount">P 489.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear rm-clear"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-ultra-violet">
                                    Freego Ultra Violet
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-ultra-violet">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-6.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 410.00</span>
                                <span class="discount">P 569.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/wrangler-blue-polo-tee">
                                    Wrangler Blue Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/wrangler-blue-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-7.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 650.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-barely-pink-polo-tee">
                                    Freego Barely Pink Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-barely-pink-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-8.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 400.00</span>
                                <span class="discount">P 521.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-gray-polo-tee">
                                    Freego Gray Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-gray-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-9.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 561.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-blue-and-red-polo-tee">
                                    Freego Blue and Red Polo Tee
                                </a>
                            </h4>
                            <i>School Bag</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-blue-and-red-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-10.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 561.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear rm-clear"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-stripes-polo-tee">
                                    Freego Stripes Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-stripes-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-11.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 330.00</span>
                                <span class="discount">P 426.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-spectra-bluegreen-polo-tee">
                                    Freego Spectra Bluegreen Polo Tee
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-spectra-bluegreen-polo-tee">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-12.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 400.00</span>
                                <span class="discount">P 521.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-blue-depth-denim-shorts-for-men">
                                    Freego Blue Depth Denim Shorts for Men
                                </a>
                            </h4>
                            <i>Shorts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-blue-depth-denim-shorts-for-men">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-13.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 500.00</span>
                                <span class="discount">P 659.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-after-dark-denim-shorts-for-men">
                                    Freego After Dark Denim Shorts for Men
                                </a>
                            </h4>
                            <i>Shorts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-after-dark-denim-shorts-for-men">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-14.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 500.00</span>
                                <span class="discount">P 659.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-brown-pants-for-men">
                                    Freego Brown Pants for Men
                                </a>
                            </h4>
                            <i>School Bag</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-brown-pants-for-men">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-15.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 700.00</span>
                                <span class="discount">P 929.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear rm-clear"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-checkered-shorts-for-men">
                                    Freego Checkered Shorts for Men
                                </a>
                            </h4>
                            <i>Shorts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-checkered-shorts-for-men">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-16.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 700.00</span>
                                <span class="discount">P 929.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-aruba-blue-longsleeves">
                                    Freego Aruba Blue Longsleeves
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-aruba-blue-longsleeves">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-17.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 430.00</span>
                                <span class="discount">P 569.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-sexy-bright-white">
                                    Freego Sexy Bright White
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-sexy-bright-white">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-18.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 350.00</span>
                                <span class="discount">P 459.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-shocking-pink-polo-tee-for-women">
                                    Freego Shocking Pink Polo Tee for Women
                                </a>
                            </h4>
                            <i>Shorts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-shocking-pink-polo-tee-for-women">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-19.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 400.00</span>
                                <span class="discount">P 529.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/freego-coral-pink-stripes-polo-tee-for-women">
                                    Freego Coral Pink Stripes Polo Tee for Women
                                </a>
                            </h4>
                            <i>School Bag</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/freego-coral-pink-stripes-polo-tee-for-women">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/kpop/product-20.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 410.00</span>
                                <span class="discount">P 529.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear rm-clear"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/deli-highlighter">
                                    Deli Highlighter
                                </a>
                            </h4>
                            <i>Other Stationery</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/deli-highlighter">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-6.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 150.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/one-leaf-journal">
                                    One Leaf Journal
                                </a>
                            </h4>
                            <i>Other Stationery</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/one-leaf-journal">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-7.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 184.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/wheat-straw-tumbler-430ml">
                                    Wheat Straw Tumbler(430ml)
                                </a>
                            </h4>
                            <i>Other Dining Utensils</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/wheat-straw-tumbler-430ml">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-8.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 128.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/korean-sign-pen">
                                    Korean Sign Pen
                                </a>
                            </h4>
                            <i>Pen</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/korean-sign-pen">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-9.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 140.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/high-sierra-city-winner-bp2">
                                    High Seirra City Hunter BP2
                                </a>
                            </h4>
                            <i>School Bag</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/high-sierra-city-winner-bp2">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-10.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 1,000.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
