{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Midnight Sales
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="wrapper static-wrapper">
        <div class="bg-black">
            <div class="col-xs-12 align-center">
                <img src="{{ asset('images/promo/midnight-sales/main-image.jpg') }}" alt="Midnight Sales" class="img-full-width main-banner">
            </div>
            <div class="container white-color align-center pad-top-5em pad-bt-5em clear width-70em">
                <h3>Terms and Conditions:</h3>
                <ul class="row">
                    <li>
                        The featured items are only available from <br />12mn-2AM OR until supplies last.
                    </li>
                    <li>
                        One person = 1 item. User who purchase more than 1 will be tagged as invalid transaction.
                    </li>
                    <li>
                        The sale will automatically end if the item is <br />already sold out.
                    </li>
                    <li>
                        This promo is valid for existing and newly registered users.
                    </li>
                </ul>
            </div>
        </div>

        <div class="container pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h1>The Descendants of the Sun fever is on!</h1>
                    <p class="title-sub light-color">
                        This is your chance to capture the heart of your own Captain Yoo Shi Jin (Song Joong Ki) by availing Dr. Kang Mo Yeon’s (Song Hye Kyo) chic make-up from LANEIGE available at YiLinker!
                    </p>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/laneige-bb-cushion" class="inline-block">
                        <img src="{{ asset('images/promo/midnight-sales/leneige-prod-1.jpg') }}" alt="Midnight Sales" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <img src="{{ asset('images/promo/midnight-sales/leneige-logo.png') }}" alt="LANEIGE" class="mrg-bt-15">
                    <h2>
                        <a href="https://www.yilinker.com/item/laneige-bb-cushion">BB Cushion</a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 ft-size-1 light-color">
                       Achieve a radiant glow and a flawless looking skin with Song Hye Kyo's beauty secret!
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 585</span>
                        <span class="discount-wrapper">
                            <span>Php 1,950</span>
                            <span><b>70% OFF</b></span>
                        </span>
                        <div class="mrg-bt-20">
                            <i>*10 Stocks only</i>
                        </div>
                    </div>
                    <a href="https://www.yilinker.com/item/laneige-bb-cushion" class="static-button">BUY NOW</a>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/laneige-two-tone-lip-bar" class="inline-block">
                        <img src="{{ asset('images/promo/midnight-sales/leneige-prod-2.jpg') }}" alt="Two Tone Lip Bar" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <img src="{{ asset('images/promo/midnight-sales/leneige-logo.png') }}" alt="LANEIGE" class="mrg-bt-15">
                    <h2>
                        <a href="https://www.yilinker.com/item/laneige-two-tone-lip-bar">
                            Two Tone Lip Bar
                        </a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 large-font light-color">
                        Copying Song Hye Kyo’s looks at Descendants of the Sun is as easy as 1, 2, 3! It’s moisturizing and it will leave you with kissable lips in just one application!
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 360</span>
                        <span class="discount-wrapper">
                            <span>Php 1,200</span>
                            <span><b>70% OFF</b></span>
                        </span>
                        <div class="mrg-bt-20">
                            <i>*10 Stocks only</i>
                        </div>
                    </div>
                    <a href="https://www.yilinker.com/item/laneige-two-tone-lip-bar" class="static-button">BUY NOW</a>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/laneige-two-tone-lip-bar">
                        <img src="{{ asset('images/promo/midnight-sales/leneige-prod-2.jpg') }}" alt="Two Tone Lip Bar" class="img-full-width">
                    </a>
                </div>
            </div>
        </div>
        <div class="container pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center mrg-bt-30">
                    <h1>Achieve Song Hye Kyo’s timeless beauty that never fades</h1>
                    <p class="title-sub light-color">
                        Step-by-step makeup routine on how she achieves her effortlessly beautiful look!<br />Just follow the steps below!
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-brown">
            <div class="container pad-top-1em pad-bt-1em">
                <div class="row">
                    <div class="col-xs-12 align-center white-color">
                        <h1 class="no-margin">
                            <img src="{{ asset('images/promo/midnight-sales/leneige-logo.png') }}" alt="LANEIGE" class="img-full-width">
                           <i>6-in-1 BB Cushion</i> 
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark-brown white-color">
            <div class="container pad-top-1em pad-bt-1em">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/cushion-step-1.png') }}" alt="step-1" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">Step 1</span>
                            <span>Clean face thoroughly first.</span>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/cushion-step-2.png') }}" alt="step-2" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">Step 2</span>
                            <span>Press adequate amount of powder puff into the cushion.</span>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/cushion-step-3.png') }}" alt="step-3" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">Step 3</span>
                            <span>Gently pat cushion on the face until it blends evenly.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light-pink">
            <div class="container pad-top-1em pad-bt-1em">
                <div class="row">
                    <div class="col-xs-12 align-center white-color">
                        <h1 class="no-margin">
                            <img src="{{ asset('images/promo/midnight-sales/leneige-logo.png') }}" alt="LANEIGE" class="img-full-width">
                            <i>Two-Tone Lip Bar</i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-pink  white-color">
            <div class="container pad-top-1em pad-bt-1em">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/lip-bar-step-1.png') }}" alt="step-1" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">STEP 1 - Lower lip</span>
                            <span>Glide The Lip Bar on your Lower lip to let the main color applied inside your lip.</span>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/lip-bar-step-2.png') }}" alt="step-2" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">STEP 2 - Upper lip</span>
                            <span>Turn the Lip Bar upside down and glide it on your upper lip to let the main color applied inside your lip.</span>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="col-md-3">
                            <img src="{{ asset('images/promo/midnight-sales/lip-bar-step-3.png') }}" alt="step-3" class="steps-image">
                        </div>
                        <div class="col-md-9">
                            <span class="steps-indicator">STEP 3 - Gradation</span>
                            <span>Press your lips together and “go” Mmmmmmm..</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
