{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Mom and Me
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="wrapper static-wrapper">
        <div class="block align-center">
                <img src="{{ asset('images/promo/mothers-day/main-image.jpg') }}" alt="Mom and Me" class="img-full-width main-banner">
            </div>
        <div class="bg-purple">
            <div class="container white-color align-center pad-top-5em pad-bt-5em clear width-70em">
                <h2>
                    Purchase one of our featured products below &amp; post an old photo of you with your Mom publicly on your Facebook page with the hashtags
                </h2>
                <h1>#YLMothersDay #MomAndMe</h1>
                <h2>to receive a P500 gift voucher via email.</h2>
            </div>
        </div>

        <div class="container pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h1>For Working Mom (Bags &amp; Accessories)</h1>
                    <p class="title-sub light-color">
                        A man’s work is from sun to sun but a mother’s work is never done. There is no greater blessing than a mother’s love! Give your Hardworking Mom some bag love!
                    </p>
                </div>
            </div>
             <div class="container align-center">
                <div class="product-container prod-con2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/uu-family-top-handle-snake-bag-set-pink">
                            <img src="{{ asset('images/promo/mothers-day/a-1.jpg') }}" class="img-full-width" alt="UU Family Top-Handle Snake Bag Set Pink">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/uu-family-top-handle-snake-bag-set-pink">
                           UU Family Top-Handle Snake Bag Set Pink
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block">PhP 1,140.00</b>
                    <small class="block">available colors</small>
                    <img src="{{ asset('images/promo/mothers-day/a-1-1.jpg') }}">
                    <a href="https://www.yilinker.com/item/uu-family-top-handle-snake-bag-set-pink" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="product-container prod-con2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-red">
                            <img src="{{ asset('images/promo/mothers-day/a-2.jpg') }}" class="img-full-width" alt="Concise and easy portable female bag red">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-red">
                            Concise and easy portable female bag red
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block">PhP 990.00</b>
                    <small class="block">available colors</small>
                    <img src="{{ asset('images/promo/mothers-day/a-2-2.jpg') }}">
                    <a href="https://www.yilinker.com/item/concise-and-easy-portable-female-bag-red" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="container pad-top-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h1>Kikay Nanay (Fashion)</h1>
                    <p class="title-sub light-color">
                        Never miss a chance to thank your Mom in style! Let her feel great when she steps out!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 align-left">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="https://www.yilinker.com/item/summer-ladies-plus-size-knitted-multicolour-vintage-dress" class="inline-block">
                                <img src="{{ asset('images/promo/mothers-day/b-1.jpg') }}" alt="UU Family Top-Handle Snake Bag Set Pink" class="img-full-width">
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <div class="product-name">
                                <a href="https://www.yilinker.com/item/summer-ladies-plus-size-knitted-multicolour-vintage-dress">
                                    Summer Ladies Plus Size Knitted Multicolour Vintage Dress
                                </a>
                            </div>
                            <b class="color-1 ft-size-1 block">PhP 537.00</b>
                            <small class="block">available colors</small>
                            <img src="{{ asset('images/promo/mothers-day/b-1-1.jpg') }}" class="block">
                            <a href="https://www.yilinker.com/item/summer-ladies-plus-size-knitted-multicolour-vintage-dress" class="static-button2 mrg-top-10">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="https://www.yilinker.com/item/women-pattern-print-knitted-dresses" class="inline-block">
                                <img src="{{ asset('images/promo/mothers-day/b-2.jpg') }}" alt="Women Pattern Print Knitted Dresses" class="img-full-width">
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <div class="product-name">
                                <a href="https://www.yilinker.com/item/women-pattern-print-knitted-dresses">
                                    Women Pattern Print Knitted Dresses
                                </a>
                            </div>
                            <b class="color-1 ft-size-1 block">PhP 539.00</b>
                            <small class="block">available colors</small>
                            <img src="{{ asset('images/promo/mothers-day/b-2-2.jpg') }}" class="block">
                            <a href="https://www.yilinker.com/item/women-pattern-print-knitted-dresses" class="static-button2 mrg-top-10">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pad-top-5em pad-bt-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h1>Techy Mommy (Electronics)</h1>
                    <p class="title-sub light-color">
                       Always keep connected with your Techy Mommy! Let her capture priceless moments of being a Mom using a Smartphone!
                    </p>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/asus-zenfone-2-16gb-ze551ml-gold-2" class="inline-block">
                        <img src="{{ asset('images/promo/mothers-day/c-1.jpg') }}" alt="ASUS ZENFONE SELFIE 32GB (ZD551KL) PINK" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2>
                        <a href="https://www.yilinker.com/item/asus-zenfone-2-16gb-ze551ml-gold-2">
                           ASUS ZENFONE 2 16GB (ZE551ML) GOLD
                        </a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 large-font light-color">
                        A Marvel of Craftsmanship and Engineering, in the palm of your hands.
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 9,900.00</span>
                        <span class="discount-wrapper">
                            <span>Php  12,999.00</span>
                            <span><b>23.84% OFF</b></span>
                        </span>
                    </div>
                    <a href="https://www.yilinker.com/item/asus-zenfone-2-16gb-ze551ml-gold-2" class="static-button2">BUY NOW</a>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/asus-zenfone-2-16gb-ze551ml-gold-2">
                        <img src="{{ asset('images/promo/mothers-day/c-1.jpg') }}" alt="ASUS ZENFONE SELFIE 32GB (ZD551KL) PINK" class="img-full-width">
                    </a>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/oppo-mirror-5-a51w-white" class="inline-block">
                        <img src="{{ asset('images/promo/mothers-day/c-2.jpg') }}" alt="OPPO MIRROR 5 (A51W) WHITE" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2>
                        <a href="https://www.yilinker.com/item/oppo-mirror-5-a51w-white">
                            OPPO MIRROR 5 (A51W) WHITE
                        </a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 ft-size-1 light-color">
                        A Spark of Brilliance
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 9,890.00</span>
                        <span class="discount-wrapper">
                            <span>Php 12,300.00</span>
                            <span><b>19.59% OFF</b></span>
                        </span>
                    </div>
                    <a href="https://www.yilinker.com/item/oppo-mirror-5-a51w-white" class="static-button2">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="bg-base pad-bt-5em">
            <div class="container pad-top-5em">
                <div class="row">
                    <div class="col-xs-12 align-center">
                        <h1>Timeless Mother (Watch)</h1>
                        <p class="title-sub">
                            Bonding MOMents are always priceless. Remember to always make time for your Timeless Mother! 
                        </p>
                    </div>
                </div>
            </div>
            <div class="container align-center">
                <div class="product-container prod-con2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex">
                            <img src="{{ asset('images/promo/mothers-day/d-1.png') }}" class="img-full-width" alt="Caite Classic White Analog Wrist Leather Watch (Unisex)">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex">
                          Caite Classic <br />White Analog Wrist Leather Watch (Unisex)
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block">PhP 365.00</b>
                    <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
                <div class="product-container prod-con2">
                    <div class="product-image">
                        <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex-2">
                            <img src="{{ asset('images/promo/mothers-day/d-2.png') }}" class="img-full-width" alt="Caite Classic White Analog Wrist Leather Watch (Unisex)">
                        </a>
                    </div>
                    <div class="product-name">
                        <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex-2">
                            Caite Classic <br />White Analog Wrist Leather Watch (Unisex)
                        </a>
                    </div>
                    <b class="color-1 ft-size-1 block">PhP 359.00</b>
                    <a href="https://www.yilinker.com/item/caite-classic-white-analog-wrist-leather-watch-unisex-2" class="static-button2 mrg-top-10">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="container pad-top-5em pad-bt-5em">
            <div class="row">
                <div class="col-xs-12 align-center">
                    <h1>Home Mom (House Decoration &amp; Living)</h1>
                    <p class="title-sub light-color">
                       Don’t let your Home Mom feel alone. Reward her with something useful at home!
                    </p>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/2300ml-green-food-storage-container" class="inline-block">
                        <img src="{{ asset('images/promo/mothers-day/e-1.png') }}" alt="2300ml green food storage container" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2>
                        <a href="https://www.yilinker.com/item/2300ml-green-food-storage-container">
                           2300ml green food storage container
                        </a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 large-font light-color">
                        One Touch Button design to easy operation, Healthy food grade without odorless
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 605.00</span>
                        <span class="discount-wrapper">
                            <span>Php 999.00</span>
                            <span><b>39.44% OFF</b></span>
                        </span>
                    </div>
                    <a href="https://www.yilinker.com/item/2300ml-green-food-storage-container" class="static-button2">BUY NOW</a>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/2300ml-green-food-storage-container">
                        <img src="{{ asset('images/promo/mothers-day/e-1.png') }}" alt="2300ml green food storage container" class="img-full-width">
                    </a>
                </div>
            </div>
            <div class="row static-product-items">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/1000ml-pink-rectangle-food-storage-container" class="inline-block">
                        <img src="{{ asset('images/promo/mothers-day/e-2.png') }}" alt="1000ml pink rectangle food storage container" class="img-full-width">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2>
                        <a href="https://www.yilinker.com/item/1000ml-pink-rectangle-food-storage-container">
                            1000ml pink rectangle food storage container
                        </a>
                    </h2>
                    <p class="mrg-top-20 mrg-bt-20 ft-size-1 light-color">
                        One Touch Button design to easy operation;Healthy food grade without odorless
                    </p>
                    <div class="large-font">
                        <div>Now</div>
                        <span class="static-price">PhP 479.00</span>
                        <span class="discount-wrapper">
                            <span>Php 1,399.00</span>
                            <span><b>65.76% OFF</b></span>
                        </span>
                    </div>
                    <a href="https://www.yilinker.com/item/1000ml-pink-rectangle-food-storage-container" class="static-button2">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="bg-base">
            <div class="container pad-top-3em pad-bt-3em">
                <h4>Promo Mechanics:</h4>
                <ul>
                    <li>Like YiLinker Facebook Page and create an account on www.yilinker.com</li>
                    <li> From May 4 - 8, a special page will be made on the YiLinker website for the Mom &amp; Me promo.</li>
                    <li>For every product that is purchased from this section, you can get a free (1) Yibo plush toy which will be sent together with the item you availed.</li>
                    <li>
                        Post an old photo of you with your Mom publicly on your Facebook page with the hashtags #YLMothersDay #MomAndMe to receive a P500 gift voucher via email.
                    </li>
                </ul>
            </div>
        </div>
        <div class="black background">
            <div class="container pad-top-3em pad-bt-3em">
                <h4 class="mrg-top-25">Terms and Conditions:</h4>
                <ul>
                    <li>The featured items are only available within the given period and until supplies last.</li>
                    <li>This promo is valid for existing and newly registered users</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
