{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
     Go Catch these Limited Edition Pokemon Collectibles
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="landing wrapper static-wrapper pokemon">
        <div class="block align-center header">
            <img src="{{ asset('images/promo/pokemon/pokemon.jpg') }}" alt="" class="main-banner big-banner">
        </div>
        <div class="container content pad-top-5em pad-bt-3em">
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="item col-md-3">
                        <a href="https://www.yilinker.com/item/pokeball-cotton-shirt">
                            <img src="{{ asset('images/promo/pokemon/shirt.jpg') }}" alt="Pokeball Cotton Shirt" class="img-full-width">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/pokeball-cotton-shirt">
                                    Pokeball Cotton <br>Shirt
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               <i>
                                    Show off your love for pocket monsters <br>with this comfy shirt!
                                </i>
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price ft-size-2">PhP 249.00</span>
                                    <span class="discount-wrapper discount2">
                                        <span class="ft-size-1">Php 799.00</span>
                                        <span class="inline-block mrg-left-5"><b>68.84% OFF</b></span>
                                    </span>
                                </div>
                                <a href="https://www.yilinker.com/item/pokeball-cotton-shirt" class="static-button2"> BUY NOW </a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3">
                        <a href="https://www.yilinker.com/item/pocket-monsters-iphone-6-6s-plus-case">
                            <img src="{{ asset('images/promo/pokemon/casing.jpg') }}" class="img-full-width" alt="Pocket Monsters iPhone 6/6s Plus Case">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/pocket-monsters-iphone-6-6s-plus-case">
                                    Pocket Monsters iPhone <br>6/6s Plus Case
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               Lure more pocket monsters with this <br>case on your phone!
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price2 ft-size-3">PhP 249.00</span>
                                    <span class="discount-wrapper discount2">
                                        <span class="ft-size-1">Php 699.00</span>
                                        <span class="inline-block mrg-left-5"><b>64.38% OFF</b></span>
                                    </span>
                                </div>
                                <a href="https://www.yilinker.com/item/pocket-monsters-iphone-6-6s-plus-case" class="static-button2"> BUY NOW </a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3">
                        <a href="https://www.yilinker.com/item/pokeball-rubber-strap-watch">
                            <img src="{{ asset('images/promo/pokemon/watch.jpg') }}" class="img-full-width" alt="Pokeball Rubber Strap Watch">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/pokeball-rubber-strap-watch">
                                    Pokeball Rubber <br>Strap Watch
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               <i>
                                    Make time for some pocket monsters lure <br>parties with this pokeball designed watch!
                                </i>
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price2 ft-size-3">PhP 385.00</span>
                                    <span class="discount-wrapper discount2">
                                        <span class="ft-size-1">Php 999.00</span>
                                        <span class="inline-block mrg-left-5"><b>61.46% OFF</b></span>
                                    </span>
                                </div>
                                <a href="https://www.yilinker.com/item/pokeball-rubber-strap-watch" class="static-button2"> BUY NOW </a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3">
                        <a href="https://www.yilinker.com/item/pokemon-balls-set-8-s">
                            <img src="{{ asset('images/promo/pokemon/pokeballset.jpg') }}" class="img-full-width" alt="Pokemon Balls Set 8's">
                        </a>
                        <div class="details">
                            <h3 class="mrg-bt-5">
                                <a href="https://www.yilinker.com/item/pokemon-balls-set-8-s">
                                    Pokemon Balls <br>Set 8's
                                </a>
                            </h3>
                            <p class="mrg-bt-20 light-color">
                               <i>
                                    Gotta catch 'em all! Perfect for <br>Pokemon fans and collectors.
                                </i>
                            </p>
                            <div class="mrg-bt-20">
                                <div class="static-price-discount mrg-bt-10">
                                    <span class="static-price2 ft-size-3">PhP 1,209.00</span>
                                    <br>
                                    <br>
                                </div>
                                <a href="https://www.yilinker.com/item/pokemon-balls-set-8-s" class="static-button2"> BUY NOW </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-base">
            <div class="container pad-top-5em">
                <div class="align-center pad-bt-1em">
                    <h3 class="uppercase h-style1">items you may like</h3>
                    <p><i>Cool products up for grabs!</i></p>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-ultra-ball">
                                    Pokemon Masterball Ultra Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-ultra-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-1.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-great-ball">
                                    Pokemon Masterball Great Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="hhttps://www.yilinker.com/item/pokemon-masterball-great-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-2.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-timer-ball">
                                    Pokemon Masterball Timer Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-timer-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-3.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-classic-pokeball">
                                    Pokemon Classic Pokeball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-classic-pokeball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-4.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="clear rm-clear"></div>
                    <div class="col-md-1"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-sports-ball">
                                    Pokemon Masterball Sports Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-sports-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-5.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-love-ball">
                                    Pokemon Masterball Love Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-love-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-6.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-master-ball">
                                    Pokemon Masterball Master Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-master-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-7.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/pokemon-masterball-gs-ball">
                                    Pokemon Masterball GS Ball
                                </a>
                            </h4>
                            <i>Toys</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/pokemon-masterball-gs-ball">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/pokemon/product-8.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 235.00</span>
                                <span class="discount">P 399.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
