{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Shop And Win Gym Membership Promo
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="atc wrapper static-wrapper">
        <div class="block align-center bg-head">
            <img src="{{ asset('images/promo/shop-win-gym-membership/background-header2.jpg') }}" alt="Y Exclusives Waterproof Edition" class="img-full-width main-banner big-banner">
        </div>
        <div class="bg-pink-2 first">
            <div class="container white-color align-center pad-top-3em pad-bt-3em clear">
                <p class="ft-size-3 pad-bt-1em">
                    Ever wonder how to keep your lifestyle healthy despite of stressful surroundings? Staying healthy and looking good at the same time is easy if you have your trusted life ally! Take your first step by choosing the right supplement as you begin your healthy journey!
                </p>
                <p class="ft-size-3">
                    Be one of the <strong>two winners</strong> to achieve fitness at <strong>Gold's Gym with a 1-Month Membership for FREE</strong> when you shop for wellness by purchasing any ATC Healthcare products below!
                </p>
            </div>
        </div>
        <div class="bg-pink-2">
            <div class="container white-color align-center pad-top-3em pad-bt-3em clear">
                <h3>Promo Mechanics:</h3>
                <ul class="row terms-and-condition">
                    <li>
                        Like YiLinker Philippines and ATC Healthcare International Corporation Facebook page.
                    </li>
                    <li>
                        Follow our Twitter &amp; Instagram accounts: @yilinkerph and @atchealthcareph.
                    </li>
                    <li>
                        Sign up for an account or login at www.yilinker.com if already registered.
                    </li>
                    <li>
                        Make a minimum purchase worth Php500 for any ATC healthcare products at https://www.yilinker.com/shop-and-win-gym-membership.
                    </li>
                    <li>
                        Share this post publicly on your Facebook timeline, tag ATC Healthcare's official Facebook page and use hashtag #YLShopAndGym on the caption.
                    </li>
                    <li>
                        The 2 lucky winners with successful transactions will receive FREE 1-Month Membership each valid at Gold's Gym Metro Manila branches only.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container pad-top-5em">
            <div class="row static-product-items atc-wrapper">
                <div class="col-md-6 align-center">
                        <img src="{{ asset('images/promo/shop-win-gym-membership/image-1.jpg') }}" alt="ATC for kids">
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                            ATC NoCaf Tablets &amp; Syrup
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                            Relieve your kid's cough with ATC Nocaf which is made from Lagundi (Vitex negundo L.) a medicinal shrub known to be the most effective in easing coughing and breathing complaints even in treating respiratory ailments.
                        </i>
                    </p>
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-nocaf-for-kids-30-tablets-set-of-5">
                                <strong>ATC NoCaf Tablets</strong>
                            </a>
                        </div>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 475.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-nocaf-for-kids-30-tablets-set-of-5" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                    <div class="mrg-bt-20">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/nocaf-syrup-for-kids-strawberry-flavor-set-of-5">
                                <strong>ATC Nocaf Syrup (Strawberry Flavor)</strong>
                            </a>
                        </div>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 475.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/nocaf-syrup-for-kids-strawberry-flavor-set-of-5"
                        class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row static-product-items atc-wrapper">
                <div class="col-md-6 align-center">
                        <img src="{{ asset('images/promo/shop-win-gym-membership/image-2.jpg') }}" alt="ATC FatOut">
                </div>
                <div class="col-md-6 static-product-content">
                    <div class="mrg-bt-30">
                        <h2 class="mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-fatout">
                                ATC FatOut
                            </a>
                        </h2>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                                Enjoy your 20's without worrying about getting unwanted fats, choose to stand out with Fatout! ATC FatOut contains the revolutionary Sweep and Shred Formula which helps in burning down fats and cleansing colon for a sexier and healthier you!
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 3,750.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-fatout" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                    <div class="mrg-bt-30">
                        <h2 class="mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-vitamins">
                                ATC Vitamins
                            </a>
                        </h2>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                               Reward yourself with full protection by choosing ATC Vitamins which improve overall function of the mind and body to reduce stress and prevent illness.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 255.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-vitamins" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row static-product-items atc-wrapper">
                <div class="col-md-6 align-center">
                        <img src="{{ asset('images/promo/shop-win-gym-membership/image-3.jpg') }}" alt="Young Forever T-shirt">
                </div>
                <div class="col-md-6 static-product-content">
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-vita-e">
                                <strong>ATC Vita-E</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                                Look radiant and enhance your beauty with Vita-E which promotes healthy skin and prevents the aging process. Vita-E's capsule contains 400IU of d-Alpha Tocoperol which is known to be a powerful antioxidant.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 420.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-vita-e" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-squalene">
                                <strong>ATC Squalene</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                               Boost and keep your immune system at its best function with the help of ATC Squalene which is a natural organic compound that has an antibacterial property.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 285.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-squalene" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row static-product-items atc-wrapper">
                <div class="col-md-6 align-center">
                        <img src="{{ asset('images/promo/shop-win-gym-membership/image-4.jpg') }}" alt="ATC Ginseng">
                </div>
                <div class="col-md-6 static-product-content">
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-ginseng-set-of-2-1">
                                <strong>ATC Ginseng</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                                Live your life to the fullest with enough energy using the ATC Ginseng to further enhance your endurance! ATC Ginseng is an effective antioxidant that helps prevent aging and wrinkling of the skin.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 390.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-ginseng-set-of-2-1" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-power-up-xtreme">
                                <strong>ATC Power Up Xtreme</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                               Men who get older should not compromise intimate pleasures. Level up your performance with ATC Power Up Xtreme which can help you enhance your sexual prowess.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 340.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-power-up-xtreme" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row static-product-items atc-wrapper">
                <div class="col-md-6 align-center">
                        <img src="{{ asset('images/promo/shop-win-gym-membership/image-5.jpg') }}" alt="ATC Gingko Biloba Spirulina">
                </div>
                <div class="col-md-6 static-product-content">
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-spirulina-set-of-2-1">
                                <strong>ATC Spirulina</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                                Gain more protein through ATC Spirulina which naturally cleanses and detoxifies your body to give you the protein that you need every day.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 390.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-spirulina-set-of-2-1" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                    <div class="mrg-bt-30">
                        <div class="ft-size-2 mrg-bt-5">
                            <a href="https://www.yilinker.com/item/atc-gingko-biloba-set-of-2-1">
                                <strong>ATC Gingko Biloba</strong>
                            </a>

                        </div>
                        <p class="mrg-bt-20 light-color ft-size-1">
                            <i>
                               Never miss out any important thing again with ATC Gingko Biloba which protects the brain from nerve damage that may lead to Alzheimer's disease or dementia.
                            </i>
                        </p>
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">P 360.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/atc-gingko-biloba-set-of-2-1" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <div class="align-center pad-top-5em pad-bt-5em">
                <a href="https://www.yilinker.com/atc" class="static-button2">
                    SEE MORE
                </a>
            </div>
        </div>
        <div class="bg-base">
            <div class="container align-center pad-top-3em pad-bt-3em clear width-70em">
                <h3>Terms and Conditions:</h3>
                <ul class="row terms-and-condition">
                    <li>
                       Discount and gift vouchers are not allowed to be used on the Shop &amp; Gym promo
                    </li>
                    <li>
                        (1) valid transaction (minimum purchase of Php500) = One raffle entry
                    </li>
                    <li>
                        This promo is valid for existing and newly registered users.
                    </li>
                    <li>
                        Announcement of winners will be on August 25, 2016
                    </li>
                    <li>
                         An YiLinker representative will contact the winners for the claiming of their prize
                    </li>
                    <li>
                        The 1 month FREE membership neither is transferrable, converted to cash nor sold.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
