{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Team Superhero
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="wrapper static-wrapper">
        <div class="block align-center bg-black">
            <img src="{{ asset('images/promo/team-superhero/background-header.jpg') }}" alt="Team Superhero" class="img-full-width main-banner big-banner">
        </div>
        <div class="container pad-top-5em pad-bt-5em">
            <div class="row">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/character-apron">
                        <img src="{{ asset('images/promo/team-superhero/image-1.jpg') }}" alt="Character Apron" class="max-width-1">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/character-apron">
                            Superhero Apron
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Add some spunk, fun and quirkiness to your man's cooking with this super cool super hero aprons!
                        </i>
                    </p>
                    <p class="mrg-bt-30 ft-size-1 team-superhero-logo">
                        <strong>Available designs:</strong>
                        <img src="{{ asset('images/promo/team-superhero/image-7.jpg') }}" alt="Batman">
                        <img src="{{ asset('images/promo/team-superhero/image-6.jpg') }}" alt="Superman">
                        <img src="{{ asset('images/promo/team-superhero/image-5.jpg') }}" alt="ironman">
                        <img src="{{ asset('images/promo/team-superhero/image-8.jpg') }}" alt="Captain America">
                        <img src="{{ asset('images/promo/team-superhero/image-10.jpg') }}" alt="Spiderman">
                        <img src="{{ asset('images/promo/team-superhero/image-9.jpg') }}" alt="Supergirl">
                        <img src="{{ asset('images/promo/team-superhero/image-4.jpg') }}" alt="Wonder woman">
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 439.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 736.00</span>
                                <span class="inline-block mrg-left-5"><b>40.35% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/character-apron" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6 align-center display-mobile">
                    <a href="https://www.yilinker.com/item/marvel-floormats">
                        <img src="{{ asset('images/promo/team-superhero/image-2.jpg') }}" class="max-width-1" alt="Marvel Floormats">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/marvel-floormats">
                            Superhero Floormats
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Even the floor needs protection from the Marvel nation.
                        </i>
                    </p>
                    <p class="mrg-bt-30 ft-size-1 team-superhero-logo">
                        <strong>Available designs:</strong>
                        <img src="{{ asset('images/promo/team-superhero/image-5.jpg') }}" alt="Ironman">
                        <img src="{{ asset('images/promo/team-superhero/image-6.jpg') }}" alt="Superman">
                        <img src="{{ asset('images/promo/team-superhero/image-8.jpg') }}" alt="Captain America">
                        <img src="{{ asset('images/promo/team-superhero/image-7.jpg') }}" alt="Batman">
                        <img src="{{ asset('images/promo/team-superhero/image-11.jpg') }}" alt="Spiderman">
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 519.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 999.00</span>
                                <span class="inline-block mrg-left-5"><b>48.05% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/marvel-floormats" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-center hide-mobile">
                    <a href="https://www.yilinker.com/item/marvel-floormats">
                        <img src="{{ asset('images/promo/team-superhero/image-2.jpg') }}" class="max-width-1" alt="Marvel Floormats">
                    </a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/blanket-with-sleeves-hero-character">
                        <img src="{{ asset('images/promo/team-superhero/image-3.jpg') }}"class="max-width-1" alt="Blanket with Sleeves (Hero Character)">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/blanket-with-sleeves-hero-character">
                            Superhero Blanket with sleeves
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                           Not all heroes wear capes, some wear blankets when asleep.
                        </i>
                    </p>
                    <p class="mrg-bt-30 ft-size-1 team-superhero-logo">
                        <strong>Available designs:</strong>
                        <img src="{{ asset('images/promo/team-superhero/image-6.jpg') }}" alt="Superman">
                        <img src="{{ asset('images/promo/team-superhero/image-7.jpg') }}" alt="Batman">
                    </p>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 399.00</span>
                            <span class="discount-wrapper discount2">
                                <span class="ft-size-1">Php 1099.00</span>
                                <span class="inline-block mrg-left-5"><b>63.69% OFF</b></span>
                            </span>
                        </div>
                        <a href="https://www.yilinker.com/item/blanket-with-sleeves-hero-character" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
