{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    Young Forever
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="youngforever wrapper static-wrapper">
        <div class="block header align-center">
            <img src="{{ asset('images/promo/young-forever/background-header2.jpg') }}" alt="Young Forever" class="img-full-width main-banner">
        </div>
        <div class="container pad-top-5em">
            <div class="row static-product-items y-exclusives-wrapper">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/young-forever-shirt-1">
                        <img src="{{ asset('images/promo/young-forever/image-1.jpg') }}" alt="Young Forever T-shirt">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/young-forever-shirt-1">
                            Young Forever T-shirt
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                       <i>
                            Show off your casual style while looking great and feely comfy at the same time
                            with this Young Forever statement shirt.
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        Sizes: Small, Medium, Large
                    </div>
                    <div class="mrg-bt-20">
                        Colors:
                        <img src="{{ asset('images/promo/young-forever/image-1-1.jpg') }}" class="valign-middle">
                    </div>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 199.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/young-forever-shirt-1" class="static-button2 mrg-left-15">BUY NOW</a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row static-product-items y-exclusives-wrapper pad-bt-5em">
                <div class="col-md-6 align-center">
                    <a href="https://www.yilinker.com/item/young-forever-cap">
                        <img src="{{ asset('images/promo/young-forever/image-2.jpg') }}">
                    </a>
                </div>
                <div class="col-md-6 static-product-content">
                    <h2 class="mrg-bt-5">
                        <a href="https://www.yilinker.com/item/young-forever-cap">
                            Young Forever Cap
                        </a>
                    </h2>
                    <p class="mrg-bt-20 light-color ft-size-1">
                        <i>
                            Feel Young Forever and impress the crowd with this adjustable snapback cap!
                        </i>
                    </p>
                    <div class="mrg-bt-20">
                        Colors:
                        <img src="{{ asset('images/promo/young-forever/image-1-1.jpg') }}" class="valign-middle">
                    </div>
                    <div class="mrg-bt-20">
                        <div class="static-price-discount">
                            <span class="static-price2 ft-size-3">PhP 159.00</span>
                        </div>
                        <a href="https://www.yilinker.com/item/young-forever-cap" class="static-button2 mrg-left-15">
                            BUY NOW
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="bg-base">
            <div class="container pad-top-5em">
                <div class="align-center pad-bt-1em">
                    <h3 class="uppercase h-style1">items you may like</h3>
                    <p><i>Cool products up for grabs!</i></p>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/floral-lace-casual-blouse">
                                    Floral Lace Casual Blouse
                                </a>
                            </h4>
                            <i>Fashion Element</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/floral-lace-casual-blouse">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-1.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 260.00</span>
                                <span class="discount">P 520.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/floral-lace-shirt-blous">
                                    Floral Lace Shirt Blouse
                                </a>
                            </h4>
                            <i>Tops</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/floral-lace-shirt-blous">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-2.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 237.50</span>
                                <span class="discount">P 475.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/casual-lady-loose-blouse">
                                    Casual Lady Loose Blouse
                                </a>
                            </h4>
                            <i>Fashion Element</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/casual-lady-loose-blouse">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-3.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 337.50</span>
                                <span class="discount">P 675.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/t-shirt-men-polo-style-men-s-slim-black-5">
                                    T-shirt Men Polo Style Men's Slim Black
                                </a>
                            </h4>
                            <i>Shirts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/t-shirt-men-polo-style-men-s-slim-black-5">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-4.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 414.00</span>
                                <span class="discount">P 630.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/t-shirt-collar-men-polo-style-men-s-slim-blue-6">
                                    T-shirt Collar Men Polo Style Men's Slim Blue
                                </a>
                            </h4>
                            <i>Shirts</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/t-shirt-collar-men-polo-style-men-s-slim-blue-6">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-5.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 394.00</span>
                                <span class="discount">P 599.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear rm-clear"></div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/deli-highlighter">
                                    Deli Highlighter
                                </a>
                            </h4>
                            <i>Other Stationery</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/deli-highlighter">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-6.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 150.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/one-leaf-journal">
                                    One Leaf Journal
                                </a>
                            </h4>
                            <i>Other Stationery</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/one-leaf-journal">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-7.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 184.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/wheat-straw-tumbler-430ml">
                                    Wheat Straw Tumbler(430ml)
                                </a>
                            </h4>
                            <i>Other Dining Utensils</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/wheat-straw-tumbler-430ml">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-8.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 128.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/korean-sign-pen">
                                    Korean Sign Pen
                                </a>
                            </h4>
                            <i>Pen</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/korean-sign-pen">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-9.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 140.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-ms-3 col-md-2 col-md-push-1">
                        <div class="product-container2">
                            <h4>
                                <a href="https://www.yilinker.com/item/high-sierra-city-winner-bp2">
                                    High Seirra City Hunter BP2
                                </a>
                            </h4>
                            <i>School Bag</i>
                            <div class="product-container2-images">
                                <div class="prod-overlay">
                                    <a href="https://www.yilinker.com/item/high-sierra-city-winner-bp2">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <img src="{{ asset('images/promo/young-forever/product-10.jpg') }}">
                            </div>
                            <div class="static-price-discount">
                                <span class="static-price">P 1,000.00</span>
                                <span class="discount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script src="{{ asset('js/src/static.js') }}"></script>
{% endblock %}
