{% set disputer = notification.data.dispute.disputer is defined ? 
                  notification.data.dispute.disputer: null
%}
{% set disputeType = notification.data.dispute.disputeStatusType is defined ? 
                     notification.data.dispute.disputeStatusType: null
%}
{% set orderProduct = notification.data.orderProduct is defined ?
                      notification.data.orderProduct: null
%}

{% set ticket = notification.data.dispute.ticket %}

{% set frontendDisputeURL = safe_route('profile_resolution_center') %}
{% if frontendDisputeURL %}
    {% set disputeUrl = frontendDisputeURL %}
{% else %}
    {% set disputeUrl = safe_route('dashboard_resolution_center') %}
{% endif %}

<a href="{{ disputeUrl ? disputeUrl~'?searchKeyword='~ticket: '#' }}">
    <div class="notification-icon-container">
        <span class="icon-circle-container">
            <i class="icon icon-check"></i>
        </span>
    </div>
    <div class="notification-details">
        <span class="notification-description semi-bold">
            {{ disputeType ? disputeType.name : 'Dispute' }}
               filed by 
            {{ disputer ? disputer.firstName~' '~disputer.lastName: 'someone' }}
            was
            {% if orderProduct and orderProduct.orderProductStatus.orderProductStatusId in [
                constant('Yilinker\\Bundle\\CoreBundle\\Entity\\OrderProductStatus::STATUS_ITEM_REFUND_BOOKED_FOR_PICKUP'),
                constant('Yilinker\\Bundle\\CoreBundle\\Entity\\OrderProductStatus::STATUS_ITEM_RETURN_BOOKED_FOR_PICKUP')
            ] %}
                Approved
            {% elseif orderProduct and orderProduct.orderProductStatus.orderProductStatusId in [
                constant('Yilinker\\Bundle\\CoreBundle\\Entity\\OrderProductStatus::STATUS_REFUND_REASON_DENIED_ON_INSPECTION'),
                constant('Yilinker\\Bundle\\CoreBundle\\Entity\\OrderProductStatus::STATUS_ITEM_REPLACEMENT_REASON_DENIED_ON_INSPECTION')
            ] %}
                Denied
            {% else %}
                {{ notification.data.status == 1 ? 'Reopened' : '' }} {{ notification.data.status == 2 ? 'Closed' : '' }}
            {% endif %}
        </span>
        <span class="notification-time light-color">
            {{ notification.dateAdded.format('M d, Y g:i:sa')|time_elapsed }}
        </span>
    </div>
</a>