{% set transactionURL = '#' %}
{% set invoiceNumber = notification.data.userOrder is defined ? notification.data.userOrder.invoiceNumber: null %}
{% if invoiceNumber %}
    {% set transactionURL = safe_route('dashboard_transaction_view', {invoice: invoiceNumber}) %}
    {% if not transactionURL %}
        {% set transactionURL = safe_route('profile_transaction_view', {invoice: invoiceNumber}) %}
    {% endif %}
{% endif %}

<a href="{{ transactionURL }}">
    <div class="notification-icon-container">
        <span class="icon-circle-container">
            <i class="icon icon-check"></i>
        </span>
    </div>
    <div class="notification-details">
        <span class="notification-description semi-bold">
            Package {{ notification.data.waybillNumber }}
            <ul class="list-unstyled">
                {% for packageDetail in notification.data.packageDetails %}
                    {% set orderProduct = packageDetail.orderProduct %}
                    {% if orderProduct.seller.userId == notification.user.userId %}
                        <li>x{{ orderProduct.quantity }} {{ orderProduct.productName }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if notification.data.__changes.packageStatus is defined %}
                <span>
                    Status Changed to 
                    <strong>
                        {{ notification.data.packageStatus.name }}
                    </strong>
                </span>
            {% endif %}
        </span>
        <span class="notification-time light-color">
            {{ notification.dateAdded.format('M d, Y g:i:sa')|time_elapsed }}
        </span>
    </div>
</a>
