<section class="box-section">
    <div class="container">
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="box-div">
              <div class="row">
                <div class="accreditation">
                  <div class="title-bar">
                    <div class="container">
                      <span>Business Information</span>
                    </div>
                  </div>
                  <div class="row gutters">
                      <div class="col-md-7 md-box">
                        <div>
                          <div class="col-md-5"><strong>Seller Type</strong></div>
                          <div class="col-md-7">Seller</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Owner Name</strong></div>
                          <div class="col-md-7">Boy George Dako Wewe</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Business Name</strong></div>
                          <div class="col-md-7">George Haircut Station</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Address</strong></div>
                          <div class="col-md-7">479 9th Street West, Menomonee Falls, WI 53051</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Position</strong></div>
                          <div class="col-md-7">Manager / Yaya</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Telephone Number</strong></div>
                          <div class="col-md-7">532-2393</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Mobile Number</strong></div>
                          <div class="col-md-7">(63) 937-234-1286</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Mobile Number</strong></div>
                          <div class="col-md-7">(63) 937-234-1286</div>
                        </div>
                      </div>
                      <div class="col-md-5 md-box">
                        <div class="form remarks">
                          <div class="csr">
                            <p class="person">
                              <img src="{{ asset('images/logo-icon.png') }}" border="0">
                              <span class="user">
                                <strong>Koya Carl</strong>
                                customer support representative
                              </span>
                            </p>
                            <p class="words">
                              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere
                              blandit libero ut dictum.
                            </p>
                            <p class="time-stamp">Posted on 12:30 pm, July 21, 2014</p>
                          </div>
                          <div class="csr">
                            <p class="person">
                              <img src="{{ asset('images/logo-icon.png') }}" border="0">
                              <span class="user">
                                <strong>Koya Carl</strong>
                                customer support representative
                              </span>
                            </p>
                            <p class="words">
                              <textarea class="form-ui"></textarea>
                              <div class="button small gray">Submit</div>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="accreditation">
                  <div class="title-bar">
                    <div class="container">
                      <span>Bank Information</span>
                    </div>
                  </div>
                  <div class="row gutters">
                      <div class="col-md-7 md-box">
                        <div>
                          <div class="col-md-5"><strong>Bank Name</strong></div>
                          <div class="col-md-7">International Bank of the World ever!</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Account Name</strong></div>
                          <div class="col-md-7">Boy George Dako Wewe</div>
                        </div>
                        <div>
                          <div class="col-md-5"><strong>Account Number</strong></div>
                          <div class="col-md-7">1872-2783-5869</div>
                        </div>
                      </div>
                      <div class="col-md-5 md-box">
                        <div class="form remarks">
                          <div class="csr">
                            <p class="person">
                              <img src="{{ asset('images/logo-icon.png') }}" border="0">
                              <span class="user">
                                <strong>Koya Carl</strong>
                                customer support representative
                              </span>
                            </p>
                            <p class="words">
                              <textarea class="form-ui"></textarea>
                              <div class="button small gray">Submit</div>
                            </p>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="accreditation">
                  <div class="title-bar">
                    <div class="container">
                      <span>Legal Files</span>
                    </div>
                  </div>
                  <div class="row gutters">
                    <div class="col-md-12">
                      <table class="table basic table-vertical-align-top">
                        <tr>
                          <th></th>
                          <th>File Name</th>
                          <th>Date Uploaded</th>
                          <th>Status</th>
                          <th width="35%">Remarks</th>
                        </tr>
                        <tr>
                          <td><strong>DTI/SEC Permit</strong></td>
                          <td><a href="#">file_document_name.doc</a></td>
                          <td>9/12/3035</td>
                          <td><input class="toggle-two" type="checkbox" data-toggle="toggle"></td>
                          <td>
                            <div class="form remarks">
                              <div class="csr">
                                <p class="person">
                                  <img src="{{ asset('images/logo-icon.png') }}" border="0">
                                  <span class="user">
                                    <strong>Koya Carl</strong>
                                    customer support representative
                                  </span>
                                </p>
                                <p class="words">
                                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere
                                  blandit libero ut dictum.
                                </p>
                                <p class="time-stamp">Posted on 12:30 pm, July 21, 2014</p>
                                <p><button class="button small default-light">Edit</button></p>
                              </div>
                              <div class="csr">
                                <p class="person">
                                  <img src="{{ asset('images/logo-icon.png') }}" border="0">
                                  <span class="user">
                                    <strong>Koya Carl</strong>
                                    customer support representative
                                  </span>
                                </p>
                                <p class="words">
                                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere
                                  blandit libero ut dictum.
                                </p>
                                <p class="time-stamp">Posted on 12:30 pm, July 21, 2014</p>
                                <p><button class="button small default-light">Edit</button></p>
                              </div>
                              <div class="csr">
                                <p class="person">
                                  <img src="{{ asset('images/logo-icon.png') }}" border="0">
                                  <span class="user">
                                    <strong>Koya Carl</strong>
                                    customer support representative
                                  </span>
                                </p>
                                <p class="words">
                                  <textarea class="form-ui"></textarea>
                                  <div class="button small gray">Submit</div>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Mayor's Permit</strong></td>
                          <td><a href="#">file_document_name.doc</a></td>
                          <td>9/12/3035</td>
                          <td><input class="toggle-two" type="checkbox" data-toggle="toggle"></td>
                          <td>
                            <div class="form remarks">
                              <div class="csr">
                                <p class="person">
                                  <img src="{{ asset('images/logo-icon.png') }}" border="0">
                                  <span class="user">
                                    <strong>Koya Carl</strong>
                                    customer support representative
                                  </span>
                                </p>
                                <p class="words">
                                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere
                                  blandit libero ut dictum.
                                </p>
                                <p class="time-stamp">Posted on 12:30 pm, July 21, 2014</p>
                                <p><button class="button small default-light">Edit</button></p>
                              </div>
                              <div class="csr">
                                <p class="person">
                                  <img src="{{ asset('images/logo-icon.png') }}" border="0">
                                  <span class="user">
                                    <strong>Koya Carl</strong>
                                    customer support representative
                                  </span>
                                </p>
                                <p class="words">
                                  <textarea class="form-ui"></textarea>
                                  <div class="button small gray">Submit</div>
                                </p>
                              </div>
                            </div>

                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters">
                <div class="actions">
                  <div class="row">
                    <div class="col-md-4">
                      <select name="" id="" class="form-ui ui search single selection dropdown">
                        <option value="0">Accreditation Level 0</option>
                        <option value="1">Accreditation Level 1</option>
                        <option value="2">Accreditation Level 2</option>
                        <option value="3">Accreditation Level 3</option>
                        <option value="4">Accreditation Level 4</option>
                        <option value="5">Accreditation Level 5</option>
                      </select>
                    </div>
                    <div class="col-md-8 align-right">
                      <button class="button blue">Sample</button>
                      <button class="button cancel">Sample</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
