{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    How to Join | Make A Wish
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/static.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
            {{ include('YilinkerFrontendBundle:MakeAWish:breadcrumb.html.twig') }}
            <div class="wrapper">
                <div class="row">
                    <div class="col-xs-3 col-xl-2">
                        <h4 class="bold mrg-bt-20">Promo Mechanics:</h4>
                        <ul class="list-unstyled list-sidemenu">
                            <li>
                                <a href="{{ path('about_make_a_wish') }}">
                                    About the Promo
                                </a>
                            </li>
                            <li>
                                <a class="active">
                                    How to Join
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('how_to_register_make_a_wish') }}">
                                    How to Register
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('how_to_create_an_entry_make_a_wish') }}">
                                    How to Create an Entry
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('criteria_for_claiming_the_prize_make_a_wish') }}">
                                    Criteria for Claiming the Prize
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-9 col-xl-10">
                        <div class="content-container">
                            <div class="content-segment">
                                <h3 class="bold mrg-bt-20">
                                    How to join and who are eligible to join:
                                </h3>
                                <div class="content-description">
                                    <ol>
                                        <li>
                                            <p class="mrg-bt-10">For a person to qualify, he/she:</p>
                                            <ol class="lower-alpha">
                                                <li>
                                                    Must be 18 years of age and above.
                                                </li>
                                                <li>
                                                    Must have a single, active, Facebook account.
                                                </li>
                                                <li>
                                                    Must be a resident of the Philippines.
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <p class="mrg-bt-10">Users may join the promo by:</p>
                                            <ol class="lower-alpha">
                                                <li>
                                                    Liking the official YiLinker page on Facebook (<a href="https://www.facebook.com/YilinkerPH/" class="sky-blue-color bold" target="_blank">www.facebook.com/yilinker.ph</a>) and clicking on the tab where the Make a Wish Rafflecopter app has been embedded.
                                                </li>
                                                <li>
                                                    Registering on the Rafflecopter application, using Facebook.
                                                </li>
                                                <li>
                                                    Fulfilling the various tasks specified on the application.
                                                </li>
                                                <li>
                                                    Submitting their entries before the promo cut-off.
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="content-segment">
                                <h4 class="bold mrg-bt-20 align-center">
                                    <a href="{{ path('how_to_register_make_a_wish') }}" class="sky-blue-color">How to Register?</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block javascripts %}
    
{% endblock %}
