{% set wishlistCount = wishlist | length %}
{% set totalSidebarNotification = wishlistCount + messages %}
<div class="left-wing-mobile">
    <div class="country-flag-mobile mrg-top-10">
        {% for language in languages %}
            <div class="image-holder active">
                <a href="/?_locale={{ language.code }}">
                    <img src="{{ asset('images/country-flag/'~language.code|lower~'.png') }}" alt="{{ language.name }}" class="img-auto-place">
                </a>
            </div>
        {% endfor %}
    </div>

    <ul class="list-unstyled list-menu">
        {% if app.user %}
            {% if wishlist is not null %}
                <li>
                    <a
                        data-cart="{{ wishlist|json_encode }}"
                        class="wishlist-header link-button wishlist-icon-link tooltip-cart"
                        data-locale="{{ app.request.locale }}"
                        data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your wishlist{% endtrans %}"
                        title="You have <b>0 items</b> on your wishlist">
                        <i class="icon icon-heart"></i>
                        {% trans %}Wishlist
                        {% endtrans %}
                        <span data-text="{n}" class="badge red pull-right item-counter" {% if wishlistCount <= 0 %} style="display:none;" {% endif %}>{{ wishlistCount }}</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('profile_information') }}">
                    <i class="icon icon-user icon-lg"></i>
                    {% trans %}My Profile{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('profile_transaction') }}">
                    <i class="icon icon-transaction icon-lg"></i>
                    {% trans %}Transaction{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('profile_messages') }}">
                    <i class="icon icon-envelope icon-lg"></i>
                    {% trans %}Messages{% endtrans %}
                    <span class="badge red pull-right unread-messages-badge" {% if messages <= 0 %} style="display:none;" {% endif %}>{{ messages }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('yilinker_frontend_points_index') }}">
                    <i class="icon icon-points icon-lg"></i>
                    {% trans %}My Points{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('profile_settings') }}">
                    <i class="icon icon-contact icon-lg"></i>
                    {% trans %}Settings{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('profile_resolution_center') }}">
                    <i class="icon icon-settings icon-lg"></i>
                    {% trans %}Resolution Center{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('profile_help') }}">
                    <i class="icon icon-circle-question-mark icon-lg"></i>
                    {% trans %}Help{% endtrans %}
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="menu-title">
        {% trans %}Main Categories{% endtrans %}
    </div>
    <ul class="list-unstyled list-menu">
        {% if categories != null %}
            {% for categoryDetails in categories %}
                <li>
                    <a href="{{ path('get_category', {slug: categoryDetails.category.slug}) }}">
                        <i class="icon icon-category-{{ categoryDetails.category.slug|default('') }}"></i>
                        <span class="name">{{ categoryDetails.category.name }}</span>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
<div class="new-homepage navbar-default" data-base-uri="{{ baseUri }}" data-node-port="{{ nodePort }}">
    <div class="navbar-group">
        <div class="top-header">
            <div class="home-section">
                <ul class="list-unstyled pull-left">
                    {% set currentLocale = app.getRequest().getLocale() %}
                    {% set availableLanguages = {ph: {code: 'en', name: 'English'}, cn: {code: 'cn', name: 'Chinese'}} %}
                    {% set language = availableLanguages[currentLocale] is defined ? availableLanguages[currentLocale]: availableLanguages|first %}
                    <li class="lang" style="display:none;">
                        <div class="select-country">
                            <div href="javascript:void(0);" class="navbar-item user-link country-language">
                                <div class="navbar-dropdown">
                                    <div class="user-image-container">
                                        <img src="{{ asset('images/country-flag/'~language.code~'.png') }}" alt="{{ language.name }}" title="{{ language.name }}"/>
                                    </div>
                                    <span class="selected-country-code">{{ language.code }}</span>
                                    <i class="icon icon-caret-down"></i>
                                </div>
                                <div class="navbar-dropdown-container hidden">
                                    <ul class="list-unstyled country-list">
                                        {% for language in availableLanguages %}
                                            <li>
                                                <a href="/?_locale={{ language.code }}">
                                                    <div class="user-image-container country-list-img">
                                                        <img src="{{ asset('images/country-flag/'~language.code~'.png') }}" alt="{{ language.name }}" title="{{ language.name }}"/>
                                                    </div>
                                                    <span class="country-name">{{ language.name }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;">
                        <a href="{{ merchant_hostname }}" class="lnk-2">{% trans %} Be a Seller {% endtrans %}</a>
                    </li>
                    <li style="display:none;">
                        <a href="{{ affiliate_hostname }}" class="lnk-2">{% trans %} Be an Affiliate {% endtrans %}</a>
                    </li>
                    <li style="display:none;">
                        <a href="{{ path('download_app_webview') }}">{{ 'Download our App' | trans }}</a>
                    </li>
                    <li>
                        <a href="#">Customer Care </a>
                    </li>
                </ul>
                <ul class="list-unstyled pull-right">
                    {% if wishlist is not null %}
                        <li>
                            <a
                                data-cart="{{ wishlist|json_encode }}"
                                class="wishlist-header link-button wishlist-icon-link tooltip-cart"
                                data-locale="{{ app.request.locale }}"
                                data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your wishlist{% endtrans %}"
                                title="You have <b>0 items</b> on your wishlist">
                                <img src="{{ asset('images/wish-icon1.png') }}" alt="cart" class="sym" width="16">
                                Wish List
                                <span data-text="{n}" class="wish-count item-counter" style="display: none"></span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a
                            data-disable-payment="{{ disable_payment }}"
                            data-cart="{{ cart|json_encode }}"
                            class="new-cart cart-header tooltip-cart"
                            data-locale="{{ app.request.locale }}"
                            data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your cart{% endtrans %}"
                            title="You have {{ cart|length }} on your cart">
                            <img src="{{ asset('images/cart-icon3.png') }}" alt="cart" class="sym" width="16">
                            Shopping Cart
                            <span data-text="{n}" class="cart-count item-counter" {% if cart|length <= 0 %} style="display:none;" {% endif %}>
                                {{ cart|length }}
                            </span>
                        </a>
                    </li>

                    {% if app.user %}
                        <li class="online">
                            <div href="#" class="navbar-item user-link">
                                <span class="item-counter unread-messages-badge" {% if messages == 0 %} style="display:none;" {% endif %}>
                                    {{ messages  }}
                                </span>
                                <div class="navbar-dropdown">
                                    <div class="user-image-container" id="user-avatar">
                                        {% if userAvatar != null %}
                                            <img data-token="{{ jwt }}" src="{{ asset(userAvatar.getImageLocationBySize("thumbnail"), 'user') }}" alt="{{ app.user.email }}">
                                        {% else %}
                                            <img data-token="{{ jwt }}" src="{{ asset('images/default-buyer.png') }}" alt="{{ app.user.email }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="navbar-dropdown-container hidden">
                                    <ul class="list-unstyled menu-list">
                                        <li>
                                            <a href="{{ path('profile_information') }}">{% trans %}
                                                Account Management
                                                {% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('profile_settings') }}">{% trans %}
                                                Settings
                                                {% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('profile_messages') }}">{% trans %}
                                                Messages
                                                {% endtrans %}
                                                <span class="badge pull-right unread-messages-text" {% if messages == 0 %} style="display:none;" {% endif %}>
                                                    {{ messages }}
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('profile_help') }}">{% trans %}
                                                Help
                                                {% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('user_logout') }}">{% trans %}
                                                Logout
                                                {% endtrans %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('user_buyer_register') }}">
                                <img src="{{ asset('images/shop-icon1.png') }}" alt="signup" class="sym" width="14">
                                {% trans %}
                                Sign Up
                                {% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('user_buyer_login') }}">
                                <img src="{{ asset('images/user-icon1.png') }}" alt="login" class="sym" width="16">
                                {% trans %}
                                Log In
                                {% endtrans %}</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>
        <div class="mid-header">
            <div class="home-section">
                <div class="row">
                    <div class="col-md-3" style="margin-top:-10px;">
                        <a href="/">
                            <img src="{{ asset('images/aeneasusa/logo/logowhite.png') }}" alt="Yilinker">
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 search-container">
                        <form
                            action="{{ currentRoute is same as('search_seller')
                         ? path('search_seller')
                         : currentRoute is same as('yilinker_frontend_international_product_list')
                           ? path('yilinker_frontend_international_product_list')
                           : path('search_product') }}">
                            <input type="text" name="query" placeholder="Search for products, brands, shops" class="navbar-search-field" autocomplete="off"/>
                            <button class="blue">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                        <div class="suggestion-links mrg-top-5">
                            <strong>Popular Search</strong>
                            <a href="https://www.yilinker.com/search/product?query=freego" class="suggestion-active">e-Bike</a>
                            <a href="https://www.yilinker.com/atc-healthcare-international-corp" class="suggestion-active">e-Scooter</a>
                            <a href="https://www.yilinker.com/search/product?query=bag" class="suggestion-active">e-Tricycle</a>
                            <a href="https://www.yilinker.com/search/product?query=powerbank" class="suggestion-active">e-Vehicle</a>
                        </div>

                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-group-mobile">
        <div class="navbar-menu">
            {% if not app.user %}
                <div class="links">
                    <a href="{{ merchant_hostname }}">
                        <span>{% trans %}
                            Be a Seller
                            {% endtrans %}</span>
                    </a>
                    <a href="{{ affiliate_hostname }}">
                        <span>{% trans %}
                            Be an Affiliate
                            {% endtrans %}</span>
                    </a>
                </div>
            {% endif %}
            <div class="account">
                {% if app.user %}
                    <p>
                        <strong>Hi
                            {{ app.user.fullName == "" ?  app.user.contactNumber : app.user.fullName }},
                        </strong>
                        <a href="{{ path('user_logout') }}">{% trans %}
                            Logout
                            {% endtrans %}</a>
                    </p>

                {% else %}
                    <a href="{{ path('user_buyer_register') }}" class="button blue">
                        <span>{% trans %}
                            Sign-Up
                            {% endtrans %}</span>
                    </a>
                    <a href="{{ path('user_buyer_login') }}" class="button blue">
                        <span>{% trans %}
                            Log-In
                            {% endtrans %}</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="navbar-top">
            <div class="search-mobile-field-container">
                <i class="icon icon-arrow-short-left back"></i>
                {% set route = null %}
                {% if currentRoute is same as('search_seller') %}
                    {% set route = path('search_seller') %}
                {% elseif
                    store is defined and
                    store is not same as(null)and
                    currentRoute is same as(path('store_page_products', {"slug": store.storeSlug}))
                %}
                    {% set route = null %}
                {% else %}
                    {% set route = path('search_product') %}
                {% endif %}
                <form action="{{ route }}" name="mobile-keyword-search" data-path="{{ route }}">
                    <input type="text" name="{{ route is same as(null)? 'q' : 'query' }}" class="search-mobile-field navbar-search-field" placeholder="{{ route is same as(null)? 'Search product here' : 'Search product or seller here' }}"/>
                </form>
                <div class="suggested-search-container">
                    <h6 class="bold uppercase mrg-bt-10">{% trans %}
                        Suggested Search
                        {% endtrans %}</h6>
                    <ul class="list-unstyled list-suggested-search"></ul>
                </div>
            </div>
            <div class="default">
                <div class="open-category-mobile">
                    <span class="icon-burger"></span>
                    <span class="counter notifications-badge" {% if totalSidebarNotification <= 0 %} style="display:none;" {% endif %}>
                        {{ totalSidebarNotification }}
                    </span>
                </div>
                <div class="open-search-trigger">
                    <i class="icon icon-search"></i>
                </div>
                <div class="brand-mobile">
                    <a href="{{ path('home_page') }}">
                        <img src="{{ asset('images/logo-main-inverted.svg') }}" alt="YiLinker" class="logo-mobile">
                    </a>
                </div>
                <div class="cart-mobile">
                    <a
                        data-disable-payment="{{ disable_payment }}"
                        data-cart="{{ cart|json_encode }}"
                        class="link-button cart-icon-link tooltip-cart cart-header"
                        data-locale="{{ app.request.locale }}"
                        data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your cart{% endtrans %}"
                        title="You have <b>0 items</b> on your cart">
                        <i class="icon icon-shopping-cart"></i>
                        <span data-text="{n}" class="counter item-counter" {% if cart|length <= 0 %} style="display:none;" {% endif %}>
                            {{ cart|length }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Cart and wishlist modal-->
    {{ include('YilinkerFrontendBundle:Base:cart.html.twig') }}
    {{ include('YilinkerFrontendBundle:Base:wishlist.html.twig') }}
    {{ include('YilinkerFrontendBundle:Base:overseas_modal.html.twig') }}
</div>
<div class="default-web new-homepage" style="display: none;">
    <div class="mid-header">
        <div class="home-section">
            <div class="row">
                <div class="col-md-3">
                    <a href="/">
                        <img src="{{ asset('images/logo.png') }}" alt="Yilinker">
                    </a>
                </div>
                <div class="col-md-5 search-container">
                    <form
                        action="{{ currentRoute is same as('search_seller')
                     ? path('search_seller')
                     : currentRoute is same as('yilinker_frontend_international_product_list')
                       ? path('yilinker_frontend_international_product_list')
                       : path('search_product') }}">
                        <input type="text" name="query" placeholder="Search for products, brands, shops" class="navbar-search-field" autocomplete="off"/>
                        <button class="blue">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                    <!-- <div class="suggestion-links">
                        <a href="" class="suggestion-active">PROMO</a>
                        <a href="">SALES</a>
                        <a href="">Notebook</a>
                        <a href="">Shoes</a>
                        <a href="">Clothing</a>
                        <a href="">Voucher</a>
                        <a href="">Discount</a>
                    </div> -->

                </div>
                <div class="col-md-2 search-container">
                    {% if wishlist is not null %}
                        <a
                            data-cart="{{ wishlist|json_encode }}"
                            class="wishlist-header link-button wishlist-icon-link tooltip-cart"
                            data-locale="{{ app.request.locale }}"
                            data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your wishlist{% endtrans %}"
                            title="You have <b>0 items</b> on your wishlist">
                            <i class="icon icon-heart"></i>
                            <span data-text="{n}" class="item-counter" style="display: none"></span>
                        </a>
                    {% endif %}

                    <a
                        data-disable-payment="{{ disable_payment }}"
                        data-cart="{{ cart|json_encode }}"
                        class="new-cart cart-header tooltip-cart"
                        data-locale="{{ app.request.locale }}"
                        data-title="{% trans %}You have{% endtrans %} <b>{items}</b> {% trans %}on your cart{% endtrans %}"
                        title="You have {{ cart|length }} on your cart">
                        <img src="{{ asset('images/aeneasusa/small_picture/iocn2.png') }}" alt="cart">
                        <span data-text="{n}" class="cart-count item-counter" {% if cart|length <= 0 %} style="display:none;" {% endif %}>
                            {{ cart|length }}
                        </span>
                    </a>

                </div>
                <div class="col-md-2">
                    <ul class="login list-unstyled">
                        {% if app.user %}
                            <li>
                                <div href="#" class="navbar-item user-link">
                                    <span class="item-counter unread-messages-badge" {% if messages == 0 %} style="display:none;" {% endif %}>
                                        {{ messages  }}
                                    </span>
                                    <div class="navbar-dropdown">
                                        <div class="user-image-container" id="user-avatar">
                                            {% if userAvatar != null %}
                                                <img data-token="{{ jwt }}" src="{{ asset(userAvatar.getImageLocationBySize(" thumbnail"), 'user') }}" alt="{{ app.user.email }}">
                                            {% else %}
                                                <img data-token="{{ jwt }}" src="{{ asset('images/default-buyer.png') }}" alt="{{ app.user.email }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="navbar-dropdown-container hidden">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="{{ path('profile_information') }}">{% trans %}
                                                    Account Management
                                                    {% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('profile_settings') }}">{% trans %}
                                                    Settings
                                                    {% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('profile_messages') }}">{% trans %}
                                                    Messages
                                                    {% endtrans %}
                                                    <span class="badge pull-right unread-messages-text" {% if messages == 0 %} style="display:none;" {% endif %}>
                                                        {{ messages }}
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('profile_help') }}">{% trans %}
                                                    Help
                                                    {% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('user_logout') }}">{% trans %}
                                                    Logout
                                                    {% endtrans %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('user_buyer_login') }}">{% trans %}
                                    Log In
                                    {% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('user_buyer_register') }}">{% trans %}
                                    Sign Up
                                    {% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
