<div class="forgot-password-form hidden">
    {{ form_start(form, {attr: {'data-user-type': userType is defined ? userType: '', 'data-store-type': storeType is defined ? storeType: ''}}) }}
        <div class="form">
            <div class="message-box red with-close-message hidden"></div>
            <label for="Forgot Password">Forgot Password?</label>
            <div class="field">
                {{ form_widget(form.request, {placeholder: 'Enter your email/contact number here', attr: {class: 'form-ui two-way-bind'}}) }}
                <div class="form-error-prompt hidden"></div>
                {% if app.request.locale == 'cn' %}
                    {{ form_widget(form.captcha) }}
                {% else %}
                    {{ form_widget(form.grecaptcha, {ref: 'grecaptcha'}) }}
                    <div id="g-recaptcha"></div>
                {% endif %}
                {{ form_widget(form._token, {name: '_token'}) }}
            </div>
            <span class="form-ui-note">{% trans %}You will receive a confirmation email or SMS message where you can reset your password{% endtrans %}</span>
        </div>
        <div class="form">
            <button type="submit" class="button purple block submit-button button-forgot-password-submit trigger-forgot-password-success-email-modal">
                <span class="text">Submit</span>
                <span class="loader hidden">Please wait</span>
            </button>
        </div>
        <div class="horizontal-divider">
            OR
        </div>
        <div class="form align-center">
            <a class="forgot-password-hide-trigger">{% trans %}Back to sign in{% endtrans %}</a>
        </div>
    {{ form_end(form) }}
</div>
