{% extends 'base.html.twig' %}

{% block title %}
    Reset Password | YiLinker Online.com
{% endblock %}

{% block stylesheets %}
    <style>
        .login-tab-panel{
            display: block !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="login reset-password">
        <a href="#" class="me logo-link" width="57" height="57"></a>
        <div class="bg"></div>
        <div class="login-wrapper login-buyer">
            <div class="align-center">
                <a href="#">
                    <img src="{{ asset('images/logo-icon.svg') }}" class="logo" />
                </a>
            </div>
            <div class="tagline align-center">
                <div class="">
                    All in one place
                </div>
            </div>
            <div class="login-tab-selection">
                <a id="sign-in-tab" data-href="reset-password" class="active">Reset Password</a>
            </div>
            <div class="form-segment">
                <div class="login-tab-panel" id="reset-password">
                    <div class="login-form">
                        {{{ token : token, csrfToken : csrfToken } | react('resetPassword') }}
                    </div>
                 </div>
            </div>
            <div class="footer-wrapper align-center">
                Copyright 2015 YiLinker. All Rights Reserved
            </div>
        </div>
        <!--Start of modal success message-->
        <div class="ui modal small success modal">
            <div class="content align-center">
                <h3 class="ui header">
                    <i class="icon icon-check"></i>
                        <div class="content">
                            Reset password request sent
                        <div class="sub-header">An email has been sent with instructions how to reset your password.</div>
                    </div>
                </h3>
            </div>
            <div class="actions">
                <button class="button confirm close forgot-password-hide-trigger">Okay</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('reactjs/build/indexMap.js') }}"></script>
    <script src="{{ asset('js/src/reactRender.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/src/vendor/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bower/transition.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bower/modal.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bower/dimmer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bower/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/src/login.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/src/vendor/forms.js') }}"></script>
{% endblock %}
