{% extends 'YilinkerBackendBundle:base:base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <section class="box-section">
        <div class="title-bar">
            <div class="container">
                <span>Top Brands CMS</span>
            </div>
        </div>
        <div class="container">

            <!-- Tables -->
            <div class="row">
                <div class="box-upper">
                    <div class="col-md-12">
                        <div class="box-div">
                            <div class="row sub-tools">
                                <div class="col-md-12">
                                    <button class="button purple small add-promo-success-trigger"
                                            onclick="location.href='{{ path('cms_render_brand', {id:'new'}) }}';">
                                        <i class="icon icon-plus"></i>
                                        Create Brand
                                    </button>
                                    <button class="button purple small add-promo-success-trigger remove-brand">
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-md-12">
                                    <table class="table basic table-vertical-align-top">
                                        <tr>
                                            <th>Brand Name</th>
                                            <th>Description</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        {% for brand in nodes %}
                                            <tr>
                                                <td onclick="location.href='{{ path('cms_render_brand', {id: brand.brandId}) }}';">{{ brand.name }}</td>
                                                <td onclick="location.href='{{ path('cms_render_brand', {id: brand.brandId}) }}';">{{ brand.description }}</td>
                                                <td onclick="location.href='{{ path('cms_render_brand', {id: brand.brandId}) }}';">{{ tempBrands|length > 0 and brand.brandId in tempBrands ? 'Queued @ 12:00am' : '' }}</td>
                                                <td><input type="checkbox" class="brand-id" value="{{ brand.brandId }}"></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bottom Tools -->
            <div class="row">
                <div class="box-upper">
                    <div class="col-md-12">
                        <div class="box-blank">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ include('YilinkerCoreBundle:Default:pagination.html.twig', {perPage: perPage, totalResults: totalNodes}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="ui modal small" id="confirm-modal">
        <div class="header">
            <h4 class="no-margin">Are you sure you want to remove?</h4>
        </div>
        <div class="actions">
            <button class="button cancel close uppercase">Cancel</button>
            <button class="button blue uppercase approve" id="remove-brand">Yes</button>
        </div>
    </div>

    {# START MODAL MESSAGE #}
    <div class="ui modal small" id="modal-message">
        <div class="content align-center">
            <h4 class="ui header">
                <i class="icon icon-circle-check"></i>

                <div class="content">
                    <div class="header-content"></div>
                    <div class="sub-header sub-header-content"></div>
                </div>
            </h4>
        </div>
        <div class="actions">
            <button class="button blue approve uppercase">Okay</button>
        </div>
    </div>
    {# END MODAL MESSAGE #}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/src/backend/cms-brand-list.js') }}"></script>
{% endblock %}
